﻿<nav class="navbar navbar-nibr" role="navigation">
  <div class="collapse navbar-collapse navbar-header-collapse">
    <ul class="nav navbar-nav">
    </ul>
  </div>
  <!--<div class="stickynav" data-spy="affix" data-offset-top="30" style="visibility:hidden;">
    <div id="stickyborder">
    </div>
    <div class="sticky-links">
    <ul class="nav navbar-nav">
      <li class="sticky-home">
        <a href="javascript:void window.scrollTo(0,0);">HCS EXPLORER</a>
      </li>
      <li class="active"><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
    </ul>
        <div id="sticky-totop">
           <a href="javascript:void window.scrollTo(0,0);">Back to top</a> <span class="caret-up"></span>
      </div>
    </div>
  </div>-->
</nav>


<!-- Docs master nav -->
<!--<nav class="navbar navbar-nibr" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-header-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse navbar-header-collapse">
    <ul class="nav navbar-nav">
      <li>
          <a href="../getting-started">Getting started</a>
        </li>
        <li>
          <a href="../css">CSS</a>
        </li>
        <li>
          <a href="../components">Components</a>
        </li>
        <li class="active">
          <a href="../javascript">JavaScript</a>
        </li>
    </ul>
  </div>
  <div class="stickynav" data-spy="affix" data-offset-top="30" style="visibility:hidden">
    <div id="stickyborder">
    </div>
    <div class="sticky-links">
      <ul class="nav navbar-nav">
        <li class="sticky-home">
          <a href="javascript:void window.scrollTo(0,0);">NIBR Bootstrap</a>
        </li>
           <li>
          <a href="../getting-started">Getting started</a>
        </li>
        <li>
          <a href="../css">CSS</a>
        </li>
        <li>
          <a href="../components">Components</a>
        </li>
        <li class="active">
          <a href="../javascript">JavaScript</a>
        </li>
      </ul>
      <div id="sticky-totop">
        <a href="javascript:void window.scrollTo(0,0);">Back to top</a> <span class="caret-up"></span>
      </div>
    </div>
  </div>
</nav>-->





        <div id="tempTestDiv" style="display: none;">Connection ID: <span id="tempConnectionId"></span></div>
        <!--<div id="tempTestDivOuter" style="display: none;"><div id="tempTestDiv" style="display: none;">Connection ID: <span id="tempConnectionId"></span></div></div>-->
  <div class="wrap">
    <div class="mainArticle layout1col"></div>
  </div>


            <footer class="sig">
                <div class="copyright">
                    &copy; <span class="copyright-year">2016</span> Novartis Institutes for BioMedical Research
                </div>
                <div class="contact">
                    Contact <a href="mailto:hcse.support@novartis.com?subject=HCS%20Explorer%20Inquiry">NX IS Delta Team </a> for more information.
                </div>
            </footer>

    
    <div id="announcement" runat="server">

    </div>




















