﻿<div class="dlg-create-run js-create-run">
<div class="row form-vertical">
    <div class="col-md-6">
        <div class="form-group">
            <label for="name">Run Name <span class="text-danger">*</span></label>
            <input type="text" id="name" name="name" class="form-control" maxlength="255"/>
            <span class="help-block"></span>
        </div>
        <div class="form-group">
            <label for="description">Run Description</label>
            <textarea rows="3" id="description" name="description" class="form-control" maxlength="2000"></textarea>
            <span class="help-block"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label-inline">Run ID</label><br/><span name="id"></span>
        </div>
        <div class="form-group">
            <label class="control-label-inline">Date</label><br/><span id="createdDate"></span>
        </div>
        <div class="form-group">
            <label class="control-label-inline">Created By</label><br/><span id="createdBy"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="checkbox">
            <label>
                <input type="checkbox" id="imageListOnlyChbx"> &lt;Image list generation only&gt;
            </label>
        </div>
        <div class="form-group" id="analysisProtocolGroup">
            <label for="protocol">Image Analysis Protocol</label>
            <div class="row">
                <div class="col-md-4">
                    <select id="Select1" class="form-control">
                        <option>CellProfiler</option>
                    </select>
                </div>
                <div class="col-md-8">
                    <span class="spanUpload"></span>
                </div>
            </div>
            <div class="clearfix">
                <div class="error"></div><div class="warning" id="protocolWarning"></div>
            </div>
            <div class="form-group" style="display:none;">
                <label for="blockSelect">Block</label>
                <select id="blockSelect" name="block" class="form-control"></select>
            </div>
            <div class="form-group">
                <label class="control-label-inline">Output Files</label>
                <div class="checkbox checkbox-vertical">
                  <label>
                    <input type="checkbox" class="output-files" id="oneFileChbx" name="inOneFile" />
                    All data in one file
                  </label>
                </div>
                <div class="checkbox checkbox-vertical">
                  <label>
                    <input type="checkbox" class="output-files" id="icp4Chbx" name="icp4" />
                    ICP4
                  </label>
                </div>
            </div>
        </div>        
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>&nbsp;</label>
            <div class="divUploadImg" style="width:200px;position:relative;"></div>
        </div>
    </div>
</div>
    <div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs nav-tabs-sm" role="tablist" id="plateTab">
            <li class="active"><a href="#selectImgDirsGroup" role="tab" name="selectImgDirs" data-toggle="tab">Select image directories</a></li>
            <li id="uploadImageListLi"><a href="#uploadImageList" role="tab" name="uploadFromDesktop" data-toggle="tab">Upload from desktop</a></li>
            <li class="disabled"><a href="#" role="tab" data-toggle="tab">Select from HCSIA</a></li>
        </ul>
        <div class="tab-content" id="plateTabContent">
            <div id="selectImgDirsGroup" class="tab-pane active fade in">
                <div class="form-group">
                    <label id="lblImgDirectories">Image Directories</label>
                    <div class="row">
                        <div class="col-md-6">
                            <select class="form-control" id="siteIdSelect" name="siteId" >
                                <option value="">Select Site</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <select class="form-control" id="databaseIdSelect" name="databaseId" disabled="disabled">
                                <option value="">Select Data Source</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8">
                    <select class="form-control" id="pathIdSelect" name="dataLocation" disabled="disabled">
                        <option value="">Select Network Drive</option>
                    </select>
                       </div>
                        <div class="col-md-4"><button class="btn btn-default" id="btnBrowseDirs" disabled="disabled">Browse</button></div>
                    </div>
                </div>
            

                <div class="form-group">
                <table id="imgDirectories" class="table table-striped table-hover" style="width:100%;">
                    <thead>
                        <tr>
                            <th>Directory&nbsp;Name</th>
                            <th>Path</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <span class="help-block"></span>
                </div>
            </div>
        
            <div id="uploadImageList" class="tab-pane fade">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="row">
                                <label class="col-md-4 control-label" id="lblUplList">Upload Image List</label>
                                <div class="col-md-8">
                                    <span class="spanUploadList"></span>
                                </div>
                                </div>
                                <div class="clearfix" style="margin-left:10px;">
                                    <div class="error"></div><div class="warning" id="uploadListWarning"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                 </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label id="lblWaveMap" class="control-label-inline">Wavelength Map</label>
            <span class="help-block" style="margin:0;"></span>        
            <table id="wavemap" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Biological&nbsp;Concept</th>
                        <th>Channel/Wavelength&nbsp;<span id="channelsSpinner" style="display: none;" class="dynatree-icon loading"></span></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="form-group" id="postProcessingSection" style="display: none;">
            <label for="chkbxDoPostProcessing" class="control-label-inline"><input type="checkbox" id="chkbxDoPostProcessing" />&nbsp;&nbsp;Generate aggregate statistics from wells with multiple fields</label>&nbsp;<span class="glyphicon glyphicon-question-sign glyphicon-btn" data-toggle="tooltip" data-placement="top" title="Post-processing allows aggregation of certain measurements across fields for every well. Counts can be summed, and means, medians, and standard deviations can be re-calculated across the underlying cell population. Some aggregations are pre-requisites for others (e.g. count is needed for mean), and will be selected by the system automatically when necessary."></span>
            <span class="help-block" style="margin: 0 0 0 20px;">Select columns to be aggregated:</span>
            <fieldset disabled id="postProcessingFieldset">
                <ul class="ul-simple form-inline">
                    <li>
                        <fieldset disabled>
                            <div class="checkbox">
                                <label for="chkbxCountSummed">
                                    <input type="checkbox" id="chkbxCountSummed" name="ppCountsSummed" checked="checked" class="chkbx-pp-type"> Counts will be summed
                                </label>
                            </div>
                        </fieldset>
                    </li>
                    <li>
                        <fieldset>
                            <div class="checkbox">
                                <label for="chkbxMeanMeanIntensity">
                                    <input type="checkbox" id="chkbxMeanMeanIntensity" name="ppMeanMeanIntensity" class="chkbx-pp-type"> Mean-mean intensity
                                </label>
                            </div>
                        </fieldset>
                    </li>
                    <li>
                        <fieldset>
                            <div class="checkbox">
                                <label for="chkbxStdDeviationMeanIntensity">
                                    <input type="checkbox" id="chkbxStdDeviationMeanIntensity" name="ppStdDeviationMeanIntensity" class="chkbx-pp-type"> Standard deviation-mean intensity
                                </label>
                            </div>
                        </fieldset>
                    </li>
                    <li>
                        <fieldset>
                            <div class="checkbox">
                                <label for="chkbxMedianMedianIntensity">
                                    <input type="checkbox" id="chkbxMedianMedianIntensity" name="ppMedianMedianIntensity" class="chkbx-pp-type"> Median-median intensity
                                </label>
                            </div>
                        </fieldset>
                    </li>
                </ul>
            </fieldset>
        </div>
    </div>
</div>
</div>