﻿<div class="input-group">
    <input type="text" id="currentPath"  maxlength="260" class="form-control">
    <span class="input-group-btn">
        <button class="btn btn-default" id="scanBtn" type="button">Browse</button>
    </span>
</div>
<div id="fileTreeDiv" style="height:460px; margin-top: 6px;"><ul></ul></div>

