﻿<form action="api/image/downloadimage" target="ifrDownload" method="POST" role="form" class="form-horizontal form-horizontal-left databinding">
    <input type="hidden" id="imgUrl" name="imgUrl"/>
    <input type="hidden" id="imgPath" name="imgPath"/>
    <input type="hidden" id="barcode" name="barcode"/>
    <input type="hidden" id="platePath" name="platePath"/>
    <div class="row">
        <div class="col-sm-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="pathChBox" name="pathChBox" value="true"/> Path
                </label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="checkbox" id="sp_version">
                <label>
                    <input type="checkbox" id="versionChBox" name="versionChBox" value="true"/> Version
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="plateIdChBox" name="plateIdChBox" value="true"/> Plate ID
                </label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="checkbox" id="sp_zIndex">
                <label>
                    <input type="checkbox" id="zIndexChBox" name="zIndexChBox" value="true"/> Z Index
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="channelChBox" name="channelChBox" value="true"/> Channel
                </label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="checkbox" id="sp_timepoint">
                <label>
                    <input type="checkbox" id="timepointChBox" name="timepointChBox" value="true"/> Timepoint
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="rowColumnChBox" name="rowColumnChBox" value="true"/> Row/Column
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="fieldChBox" name="fieldChBox" value="true"/> Field
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="textColor" class="col-md-3 control-label">Text Color:</label>
        <div class="col-md-4">
            <select id="textColor" name="textColor" class="form-control">
                <option value="default">Auto</option>
                <option value="Black">Black</option>
                <option value="White">White</option>
                <option value="Red">Red</option>
                <option value="Green">Green</option>
                <option value="Blue">Blue</option>
                <option value="Gray">Gray</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="textSize" class="col-md-3 control-label">Text Size:</label>
        <div class="col-md-4">
            <select id="textSize" name="textSize" class="form-control">
                <option value="default">Auto</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="customText" class="col-md-3 control-label">Custom Text:</label>
        <div class="col-md-4">
            <input type="text" id="customText" name="customText" class="form-control" />
        </div>
        <div class="col-md-5">
            <input type="submit" id="submitBtn" class="btn btn-primary" value="Submit"/>
        </div>
    </div>

</form>
