﻿<div class="container databinding">
    <div class="row">
        <div class="col-md-1 col-md-offset-5"><label>Well ID:</label></div>
        <div class="col-md-6" id="cellId" name="cellId"></div>
    </div>
    <div class="row">
        <div class="col-md-1 col-md-offset-5"><label>Channel:</label></div>
        <div class="col-md-6 id="channel" name="channel"></div>
    </div>
    <div class="row">
        <div class="col-md-1 col-md-offset-5"><label>Field:</label></div>
        <div class="col-md-6" id="field" name="field"></div>
    </div>
    <div class="row" id="tr_zIndex">
        <div class="col-md-1 col-md-offset-5"><label>Z Index:</label></div>
        <div class="col-md-6" id="zIndex" name="zIndex"></div>
    </div>
    <div class="row" id="tr_timepoint">
        <div class="col-md-1 col-md-offset-5"><label>Timepoint:</label></div>
        <div class="col-md-6" id="timepoint" name="timepoint"></div>
    </div>
    <div class="row" id="tr_version">
        <div class="col-md-1 col-md-offset-5"><label>Version:</label></div>
        <div class="col-md-6" id="version" name="version"></div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-5"><button id="downLoadFullSizeImgBtn" class="btn btn-default">Download Full Size Image</button></div>
    </div>
</div>

<div style="height: 30px;">
    <div class="loadingImg" style="margin:10px auto 0 auto;" />
</div>
<div align="center">
  <div class="alert alert-danger text-center js-errorBox" style="display: none;"></div>
  <img id="wellImg" style="display:none;"/>
</div>

