﻿<div class="alert alert-danger text-center js-errorBox" style="display: none;"></div>
<ul class="nav nav-tabs" role="tablist" id="plateTab">
    <li class="active"><a href="#well-form" role="tab" data-toggle="tab">Well View</a></li>
    <li class=""><a href="#plate-form" role="tab" data-toggle="tab">Plate View</a></li>
</ul>
<div class="tab-content">
    <div id="well-form" class="tab-pane active fade in js-databinding">
    <br />
    <dl class="dl-horizontal dl-horizontal-left">
        <dt>Plate Barcode:</dt>
        <dd><span id="barcode" name="barcode"></span>&nbsp;</dd>
        <dt>Description:</dt>
        <dd><span id="name" name="name"></span>&nbsp;</dd>
        <dt>Path:</dt>
        <dd><span id="path" name="path"></span>&nbsp;</dd>
        <dt>Timestamp:</dt>
        <dd><span id="date"></span>&nbsp;</dd>
    </dl>
    <table class="tbl-plate-well">
        <tbody>
        <tr>
            <td>
                <div class="clearfix">
                    Well <span id="selectedWell" name="selectedWell" class="left selectWellLabel"></span>
                    <div class="pull-right">
                        <button id="well_up" type="button" data-toggle="tooltip" data-placement="top" title="Move one well up" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-chevron-up text-info"></span></button>
                        <button id="well_down" type="button" data-toggle="tooltip" data-placement="top" title="Move one well down" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-chevron-down text-info"></span></button>
                        <button id="well_left" type="button" data-toggle="tooltip" data-placement="top" title="Move one well left" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-chevron-left text-info"></span></button>
                        <button id="well_right" type="button" data-toggle="tooltip" data-placement="top" title="Move one well right" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-chevron-right text-info"></span></button>
                    </div>
                </div>
                <table id="plateLayout" class="plate-layout"></table>
            </td>
            <td style="width: 70px;">
                <div class="loadingImgShort"></div>
                <br />
                <span id="imgLayoutNotification"></span>
            </td>
            <td>
                <div class="form-inline form-inline-space" style="width:550px;">
                    <div class="form-group">
                        <label class="control-label" for="wellViewSize">Image Size:</label>                    
                        <select id="wellViewSize" name="wellViewSize" class="form-control input-sm">
                            <option value="S">Small</option>
                            <option value="M" selected="selected">Medium</option>
                            <option value="L">Large</option>
                        </select>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="wellViewInvert" name="wellViewInvert" />
                            Invert
                        </label>
                    </div>
                    <button id="imageUpdate" type="button" class="btn btn-default btn-sm pull-right"><span class="glyphicon glyphicon-ok text-success"></span> Update</button>
                </div>
                <div class="form-inline form-inline-space">
                    <div class="form-group js-zindex">
                        <label class="control-label" for="zIndex">Z Index:</label>                    
                        <select id="zIndex" name="zIndex" class="form-control input-sm"></select>
                    </div>
                    <div class="form-group js-timepoint">
                        <label class="control-label" for="timepoint">Timepoint:</label>                    
                        <select id="timepoint" name="timepoint" class="form-control input-sm"></select>
                    </div>
                    <div class="form-group js-version">
                        <label class="control-label" for="version">Version:</label>                    
                        <select id="version" name="version" class="form-control input-sm"></select>
                    </div>
                </div>
                <table>
                    <tr>
                        <td colspan="2">
                            <!--image preview table-->
                            <table id="imageLayout" class="table-simple well-image-layout"></table>
                        </td>
                    </tr>
                </table>


            </td>
        </tr>
        </tbody>
    </table>
    </div>
    <div id="plate-form" class=" tab-pane fade"></div>
</div>