﻿<div class="alert alert-danger text-center js-errorBox" style="display: none;"></div>
<div class="form-inline form-inline-space js-form-fields">
    <br/><!--Added this br because removal of sig makes the controls appear too close to the tab boarder-->
    <div class="form-group">
        <label class="control-label" for="field">Field:</label>                    
        <select id="field" name="field" class="form-control input-sm"></select>
    </div>
    <div class="form-group">
        <label class="control-label" for="channel">Channel:</label>                    
        <select id="channel" name="channel" class="form-control input-sm"></select>
    </div>
    <div class="form-group">
        <!--<label class="control-label" for="version">Brightness X:</label>                    
        <input type="text" name="brightness" id="brightness" class="form-control input-sm" style="width:100px;" />-->
        <!--<span class="help-block"></span>-->
        <label class="control-label" for="version">Brightness:</label> 
        <select id="brightnessOptions" name="brightnessOpt" data-id="pOptions" class="form-control input-sm p-options">
            <option value="brightness" selected="selected">Brightness X</option>
            <option value="auto">Auto-Contrast</option>
            <!--<option value="level">Levels</option>-->
         </select>
        <div id="bDiv"></div>
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <label class="control-label" for="color">Color:</label>                    
        <select id="color" name="color" class="form-control input-sm">
            <option value="Grayscale" selected="selected">Grayscale</option>
            <option value="Red">Red</option>
            <option value="Green">Green</option>
            <option value="Blue">Blue</option>
            <option value="Cyan">Cyan</option>
            <option value="Magenta">Magenta</option>
            <option value="Yellow">Yellow</option>
        </select>
    </div>
    <div class="form-group">
        <label class="control-label" for="sizeId">Size:</label>                    
        <select id="sizeId" name="sizeId" class="form-control input-sm">
            <option value="S" selected="selected">Small</option>
            <option value="M">Medium</option>
        </select>
    </div>
    <label class="control-label" for="invert">Invert:</label>       
    <div class="checkbox">
        <label>
            <input type="checkbox" id="invert" name="invert" />
        </label>
    </div>               
    <button type="button" class="btn btn-sm btn-default js-submit"><span class="glyphicon glyphicon-arrow-right text-info"></span> Submit</button>   
    <button type="button" class="btn btn-sm btn-default js-export-pdf" disabled="disabled"><span class="glyphicon glyphicon-save text-info"></span> Export to PDF</button> 
    <span id="testMetricSpan" style="color: #fff; display: none;"><span id="loadingTime"></span>&nbsp;(<span id="loadingTimeTicks"></span>); <span>SignalR disconnects:&nbsp;<span id="disconnectsCount"></span></span> <span>HCS Connect disconnects:&nbsp;<span id="hcsConnectDisconnectsCount"></span></span></span>
    <form id="pdfForm" action="" target="ifrDownloadPdf" method="POST" style="display: none;">
        <input type="hidden" id="pdfPath" name="pdfPath"/>
    </form>
</div>
<div class="form-inline form-inline-space js-form-fields" id="trAddedParams">
    <div class="form-group js-zindex">
        <label class="control-label" for="pzIndex">Z Index:</label>                    
        <select id="pzIndex" name="zIndex" class="form-control input-sm"></select>
    </div>
    <div class="form-group js-timepoint">
        <label class="control-label" for="ptimepoint">Timepoint:</label>                    
        <select id="ptimepoint" name="timepoint" class="form-control input-sm"></select>
    </div>
    <div class="form-group js-version">
        <label class="control-label" for="version">Version:</label>                    
        <select id="pversion" name="version" class="form-control input-sm">
            <option value="1">raw</option>
            <option value="2">corrected</option>
        </select>
    </div>
</div>
<div class="text-center">
    <span id="imgPlateNotification"></span>
</div>
<div class="loadingImgPlate" ></div>
<br />
<div id="imagePlatesDiv" style="overflow: auto;">
    <table  id="imagePlateLayout" class="plate-image-layout table-simple"  style="display:none;"></table>   
</div>
<iframe id="ifrDownloadPdf" name="ifrDownloadPdf" style="display:none"></iframe>
