﻿<div class="alert alert-danger text-center js-errorBox" style="display: none;"></div>
<div class="rundetails" style="display: none;"> 
    <h2>
        <button type="button" id="copyRunBtn" class="btn btn-primary pull-right">COPY RUN</button>
        <button type="button" id="stopRunBtnDisabled" class="btn btn-default pull-right" disabled="disabled">Stop Run</button>
        Run <span name="idStr" ></span> Details

    </h2>
    <hr/>
    <div class="row">
        <div class="col-md-9">
            <div class="form-group">
                <label class="control-label-inline">Run Name</label>
                <div style="max-height: 50px;" class="fixWidthField" name="name">
                    &nbsp;
                </div>
            </div>
            <div class="form-group">
                <label class="control-label-inline">Run Description</label>
                <div style="max-height: 60px;" class="fixWidthField" name="description">
                    &nbsp;
                </div>
            </div>
            <div class="form-group">
                <label class="control-label-inline">Image Analysis Protocol</label><br />
                Cell Profiler&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a id="btnDownloadProt" class="js-download-link" href="#"><span class="glyphicon glyphicon-download"></span> Download <span name="protocolName" id="protocolName"></span></a>
            </div>
            <div class="form-group">
                <label class="control-label-inline">Instrument</label>
                <div name="databaseTitle">
                    &nbsp;
                </div>
            </div>
            <div class="form-group">
                <label class="control-label-inline">Image Directory Paths</label>&nbsp;<a style="display: none;" id="btnDownloadImgList" class="js-download-link" href="#"><span class="glyphicon glyphicon-download"></span> Download Image List</a>
                <table id="directories" class="table table-bordered table-striped table-hover">
                    <thead style="display: none;">
                    <tr>
                        <th>Path</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <label class="control-label-inline">Wavelength Map</label>
                <table id="wavemap" class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th nowrap="nowrap">Biological Concept</th>
                        <th>Channel/Wavelength</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label-inline">Submitted By</label>
                        <div style="max-height: 15px;" id="createdBy">&nbsp;</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label-inline">Created</label>
                        <div style="max-height: 15px;" name="createdDateStr"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label-inline">Last Updated</label>
                        <div style="max-height: 15px;" name="lastUpdatedStr"></div>
                    </div>
                    <div class="form-group hide-for-image-list-only">
                        <label class="control-label-inline">Status Summary</label>
                        <!--<div id="status"></div>-->
                        <div class="progress">
                            <div class="progress-bar" id="status" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            0%
                            </div>
                        </div>
                        <span><b name="completePlatesCount"></b> out of <b name="totalPlatesCount"></b> plates completed.</span>
                    </div>
                    <div class="form-group hide-for-image-list-only">
                        <label class="control-label-inline">Analysis Results</label><br />
                        <a id="btnDownloadResInOneFile" href="#" class="js-download-link" style="display:none;"><span class="glyphicon glyphicon-download"></span> Download Aggregate Results (In One File)</a><br />
                        <a id="btnDownloadResIcp4" href="#" class="js-download-link" style="display:none;"><span class="glyphicon glyphicon-download"></span> Download Aggregate Results (ICP4)</a><br />
                        <a id="btnOutputDir" href="#" target="_blank" style="display: none;">Browse Results Directory</a>
                    </div>
                    <div class="form-group">
                        <label class="control-label-inline">Note</label>
                        <div id="noteField" name="noteLink" class="link js-popup" title="Click to show full content"></div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="row hide-for-image-list-only">
        <div class="col-md-9">
            <h3>Status by Plate</h3>
        </div>
        <div class="col-md-3">
            <div class="dataTables_filter form-group" ><input type="text" class="form-control" id="tblFilter" placeholder="Filter..."></div>
        </div>
    </div>
    <table id="plates" class="table table-striped table-hover hide-for-image-list-only">
        <thead>
        <tr>
            <th>Processed (%)</th>
            <th>Plate</th>
            <th>Details</th>
            <th>Status</th>
            <th>Last Updated</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div class="form-group" id="postProcessingSection" style="display: none; padding-top: 10px;">
        <label class="control-label-inline">Post Processing</label>
        <fieldset disabled id="postProcessingFieldset">
            <ul class="ul-simple form-inline">
                <li>
                    <fieldset>
                        <div class="checkbox">
                            <label for="chkbxCountSummed">
                                <input type="checkbox" id="chkbxCountSummed" name="ppCountsSummed" class="chkbx-pp-type"> Counts will be summed
                            </label>
                        </div>
                    </fieldset>
                </li>
                <li>
                    <fieldset>
                        <div class="checkbox">
                            <label for="chkbxMeanMeanIntensity">
                                <input type="checkbox" id="chkbxMeanMeanIntensity" name="ppMeanMeanIntensity" class="chkbx-pp-type"> Mean-mean intensity
                            </label>
                        </div>
                    </fieldset>
                </li>
                <li>
                    <fieldset>
                                <div class="checkbox">
                                    <label for="chkbxStdDeviationMeanIntensity">
                                        <input type="checkbox" id="chkbxStdDeviationMeanIntensity" name="ppStdDeviationMeanIntensity" class="chkbx-pp-type"> Standard deviation-mean intensity
                                    </label>
                                </div>
                     </fieldset>
                </li>
                <li>
                    <fieldset>
                        <div class="checkbox">
                            <label for="chkbxMedianMedianIntensity">
                                <input type="checkbox" id="chkbxMedianMedianIntensity" name="ppMedianMedianIntensity" class="chkbx-pp-type"> Median-median intensity
                            </label>
                        </div>
                    </fieldset>
                </li>
            </ul>
        </fieldset>
    </div>
</div>
