﻿<h1 class="">Analysis Runs</h1>
<div class="alert alert-danger text-center js-errorBox" style="display: none;margin-bottom:4px;"></div>
<div class="row" style="margin-bottom:2px;" >
    <div class="col-sm-9">
        <span class="rowcount" style="display:none;margin-right:20px;">
            <b><span id="rowFrom"></span></b>&nbsp;to&nbsp;<b><span id="spanRowCount"></span></b>&nbsp;runs&nbsp;displayed</span>
        <button type="button" id="createNewBtn" class="btn btn-default">Create New</button>
    </div>
    <div class="col-sm-3">
        <div class="dataTables_filter" style="display: none;">
            <input type="text" id="tblFilter" placeholder="Filter..." class="form-control" />
        </div>
    </div>
</div>


<table id='tblHeader' class="table table-striped table-no-body fix-col" >
    <thead> 
    <tr> 
        <th>Status</th>
        <th>Run ID</th>
        <th>Submitted By</th>
        <th>Run Name</th>
        <th>Results</th>
        <th>Image Analysis Protocol</th>
        <th>Created</th>
        <th>Last Updated</th>
    </tr> 
    </thead> 
    <tbody> 
    </tbody>
</table>

<div class="table-group-header" data-toggle="collapse" data-target="#my-runs-target"><span class="glyphicon glyphicon-chevron-down"></span> My Runs</div>
<div id="my-runs-target" class="collapse in">
  <table id='tblRunsMy' class="table table-striped table-hover table-no-header fix-col" style="margin-left: -1px;">
    <thead> 
    <tr> 
        <th>Status</th>
        <th>Run ID</th>
        <th>Submitted By</th>
        <th>Run Name</th>
        <th>Results</th>
        <th>Image Analysis Protocol</th>
        <th>Created</th>
        <th>Last Updated</th>
    </tr> 
    </thead> 
    <tbody> 
    </tbody>
  </table>
</div>
<div class="table-group-header" data-toggle="collapse" data-target="#all-runs-target"><span class="glyphicon glyphicon-chevron-down"></span> All Runs</div>
<div id="all-runs-target" class="collapse in">
  <table id='tblRuns' class="table table-striped table-hover table-no-header fix-col" style="margin-left: -1px;">
    <thead> 
    <tr> 
        <th>Status</th>
        <th>Run ID</th>
        <th>Submitted By</th>
        <th>Run Name</th>
        <th>Results</th>
        <th>Image Analysis Protocol</th>
        <th>Created</th>
        <th>Last Updated</th>
    </tr> 
    </thead> 
    <tbody> 
    </tbody>
  </table>
</div>
