﻿<div class="row js-searchFields">
    <div class="container pull-left">
        <form class="form-horizontal form-horizontal-left" role="form">
          <div class="form-group">
            <label for="siteId" class="col-sm-2 control-label">Select a site:</label>
            <div class="col-sm-3">
              <select id="siteId" name="siteId" class="form-control"></select>
            </div>
            <span class="col-sm-4">
                <span class="help-block"></span>
            </span>
          </div>
          <div class="form-group">
            <label for="databaseId" class="col-sm-2 control-label">Select a data source:</label>
            <div class="col-sm-3">
              <select id="databaseId" name="databaseId" class="form-control"></select>
            </div>
            <div class="col-sm-4">
                <span class="help-block"></span>
            </div>
          </div>
          <div class="form-group">
            <label for="barcode" class="col-sm-2 control-label control-label-2rows">Enter a barcode or folder path:</label>
            <div class="col-sm-3">
              <input type="text" id="barcode" name="barcode" size="50" maxlength="250" class="form-control" />              
            </div>
            <div class="col-sm-4">
                <span class="help-block"></span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2">
              <div class="loadingImg" style="float:right;margin-top:8px;"></div>
            </div>
            <div class="col-sm-7">
              <button type="button" class="btn btn-default js-search"><span class="glyphicon glyphicon-search"></span> Search</button>
            </div>
          </div>
        </form>
    </div>
</div>

<div class="alert alert-danger text-center js-errorBox" style="display: none;"></div>
<div class="rowcount"><span id="spanRowCount"></span> results have been found. Please click desired plate id to confirm your plate selection</div>
<div class="norecords">No matching plates found.<br/>Please try another search term or contact support.</div>
<table id='tblPlates' class='table table-striped table-hover' style="display:none;">
    <thead> 
      <tr> 
        <th>Plate&nbsp;ID</th> 
        <th>Barcode</th> 
        <th>Description</th> 
        <th>Format</th> 
        <th style="width:150px;">Date</th> 
        <th>Path</th> 
      </tr> 
    </thead> 
    <tbody> 
    </tbody>
</table>
