﻿
<p><i>Search for a compound across all HCS assays in Helios, with links to the images, if available.</i></p>
<div class="row js-searchFields">
    <div class="container pull-left">
        <form class="form-horizontal form-horizontal-left" role="form">
          <div class="form-group">
            <label for="helios" class="col-sm-2 control-label">Select Helios Instance:</label>
            <div class="col-sm-3">
                <select id="helios" name="helios" class="form-control">
                    <option value="helios_prod1" selected="selected">Prod 1</option>
                    <option value="helios_prod2">Prod 2</option>
                </select>
            </div>
            <span class="col-sm-4">
                <span class="help-block"></span>
            </span>
          </div>
          <div class="form-group">
            <label for="compoundId" class="col-sm-2 control-label">Enter Sample ID:</label>
            <div class="col-sm-3">
              <input type="text" id="compoundId" name="compoundId" size="50" maxlength="50" class="form-control" />              
            </div>
            <div class="col-sm-4">
                <span class="help-block"></span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2">
              <div class="loadingImg" style="float:right;margin-top:8px;"></div>
            </div>
            <div class="col-sm-7">
              <button type="button" class="btn btn-default js-search"><span class="glyphicon glyphicon-search"></span> Search</button>
            </div>
          </div>
        </form>
    </div>
</div>
<div class="alert alert-danger text-center js-errorBox" style="display: none;"></div>
<div class="rowcount"><span id="spanRowCount"></span> results are found. Please click on the barcode to link to the images.</div>
<div class="norecords">No Results Found.</div>
<div id="comoundResultWrapper">
    <table id='tblPlates' class='table table-striped table-hover' style="display:none">
        <thead>
            <tr>
                <th>Plate Barcode</th>
                <th>Compound</th>
                <th>Assay Name</th>
                <th>Instrument</th>
                <th>Row</th>
                <th>Col</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

