﻿@using HCSExplorer.Web.Helpers;

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.ico")"/>
    <title>@ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    <link href="./Content/css/nibr-bootstrap.css" rel="stylesheet">

    <!-- Documentation extras -->
    <!--<link href="http://nebulacdn.na.novartis.net/plugins/sig-gethelp/2.0.0/jquery.sig.gethelp.css" rel="stylesheet">-->
      
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="./assets/js/html5shiv.js"></script>
      <script src="./assets/js/respond.min.js"></script>
    <![endif]-->

  @Styles.Render("~/Content/css/styles?ver=" + VersionHelper.ResolveVersion())

  @Scripts.Render("~/bundles/libs/requirejs?ver=" + VersionHelper.ResolveVersion())
  <script type="text/javascript">
    requirejs.config({
      baseUrl: '@Url.Content("~/Scripts")',
      urlArgs: 'ver=@VersionHelper.ResolveVersion()',
      waitSeconds: 30,
      paths: {
        @foreach (var x in ScriptHelper.GetScriptList(ScriptPairType.Layout.ToString()))
        {
        <text>
        "@x.Name": '@x.Value',
        </text>
        }
        jquery: '@Scripts.Url("~/bundles/libs/jquery")',
        jqueryui: '@Scripts.Url("~/bundles/libs/jqueryui")',
        bootstrap: '@Scripts.Url("~/bundles/libs/bootstrap")',
        underscore: '@Scripts.Url("~/bundles/libs/underscore")',
        backbone: '@Scripts.Url("~/bundles/libs/backbone")',
        mbinder: '@Scripts.Url("~/bundles/libs/mbinder")',
        cbinder: '@Scripts.Url("~/bundles/libs/cbinder")',
        validator: '@Scripts.Url("~/bundles/libs/validator")',
        modernizr: '@Scripts.Url("~/bundles/libs/modernizr")',
        text: '@Scripts.Url("~/bundles/libs/text")',
        menubar: '@Scripts.Url("~/bundles/libs/jquery-ui-menubar")',
        datatables: '@Scripts.Url("~/scripts/libs/jquery.dataTables")',
        datatablesbootstrap: '@Scripts.Url("~/scripts/libs/dataTables.bootstrap")',
        datatablesscroller: '@Scripts.Url("~/scripts/libs/dataTables.scroller")',
        multiselect: '@Scripts.Url("~/bundles/libs/multiselect")',
        timepicker: '@Scripts.Url("~/bundles/libs/timepicker")',
        iframetransport: '@Scripts.Url("~/bundles/libs/iframe-transport")', //'@BundleHelper.ResolveModulesBundle("libs/jquery.iframe-transport")
        jquerycookie:  '@Scripts.Url("~/bundles/libs/jquerycookie")',
        dynatree: '@Scripts.Url("~/bundles/libs/dynatree")',
        filetree: '@Scripts.Url("~/bundles/libs/filetree")',
        inputfile: '@Scripts.Url("~/bundles/libs/inputfile")',
        filedownload: '@Scripts.Url("~/bundles/libs/filedownload")',
        listbox: '@Scripts.Url("~/bundles/libs/listbox")',
        signalR: '@Scripts.Url("~/bundles/libs/signalR")',
        signalRHubs: '@Scripts.Url("~/signalr/hubs?t=1")',
        sig: '@Scripts.Url("~/bundles/libs/sig")',
        bootbox: '@Scripts.Url("~/bundles/libs/bootbox")',
        @*gethelp: '@Scripts.Url("~/bundles/libs/gethelp")',*@
        app: '@BundleHelper.ResolveModulesBundle("app")',
        router: '@BundleHelper.ResolveModulesBundle("router")',
        ifvisible: '@Scripts.Url("~/bundles/libs/ifvisible")'
      },
      shim: {
        'jquery': {
          exports: '$'
        },
        'underscore': {
          exports: '_'
        },
        'backbone': {
          deps: ['jquery', 'underscore'],
          exports: 'Backbone'
        },
        'bootstrap': {
            deps: ['jquery']
        },
        'jqueryui': {
          deps: ['jquery']
        },
        'bootbox': {
            deps: ['jqueryui'],
            exports: 'bootbox'
        },
        'modernizr': {
          deps: ['jquery']
        },
        'validator': {
          deps: ['backbone']
        },
        'menubar': {
          deps: ['jqueryui']
        },
        'datatables': {
            deps: ['jqueryui']
        },
        'datatablesbootstrap': {
            deps: ['datatables']
        },
        'datatablesscroller': {
            deps: ['datatables', 'datatablesbootstrap']
        },
        'iframetransport': {
          deps: ['jquery']
        },
        'filedownload': {
            deps: ['jquery']
        },
        'jquerycookie': {
            deps: ['jquery']
        },
        'dynatree': {
            deps: ['jquery', 'jqueryui', 'jquerycookie']
        },
        'filetree': {
          deps: ['jquery']
        },
        'listbox': {
          deps: ['jquery']
        },
        'ifvisible': {
            deps: ['datatablesscroller']
        },
        'signalR': {
            deps: ['jquery']
        },
        'signalRHubs' :{
            deps: ['signalR']
        },
        'gethelp': {
            deps: ['jquery']
        },
        'sig': {
            deps: ['jquery', 'jqueryui']
        }
      }
    });
    function sigGetCurrentUserName() {
        if (typeof (NIBRIam) != "undefined") {
            return NIBRIam.NIBRFirst + " " + NIBRIam.NIBRLast;
        }
        return '';
    }
  </script>
  @RenderSection("pagescript", required: false)
</head>
<body>
  @RenderBody()
  <img style="display:none" src="@Url.Content("~/Content/Images/loading.gif")" class="imgLoading"/>
  <div @*class="sig-content"*@ id="errDialog" title="Error" style="display: none"></div>
  <!--<div id="createRunDlg" style="display: none;"></div>-->
  <!--<div id="fileTreeDlg" style="display: none;"></div>-->
  <!--<div id="detailsPopupDlg" style="display: none;"></div>-->
</body>
</html>
