﻿@{
    ViewBag.Title = "Image";
}

<div id="imgPageContent" @*class="sig-content"*@></div>
<div id="downloadImgContent"></div>
<iframe id="ifrDownload" name="ifrDownload" style="display:none"></iframe>
@section pagescript{
  <script type="text/javascript">
      require(['views/image'],
              function (imgView) {
                  var view = new imgView();
              });
  </script>
}
