﻿@{
    ViewBag.Title = "HCS EXPLORER";
}
<div id="pagecontent">
<div class="wrapper">
 <div class="wrapper_pad" style="text-align:center;min-height:200px">
  <span class="errorHeader">
    &nbsp;&nbsp;Loading page...
    <img src="@Url.Content("~/Content/Images/loading.gif")" class="imgLoading"/>
  </span>
</div>
  </div>
  </div>
@section pagescript{
  <script type="text/javascript">
    require(['app'],
            function (app) {
              app.Initialize();
            });
  </script>
}