.customfile fieldset { padding: .6em 0;border:0;border-top: 1px dotted #ddd; }
.customfile legend {color: #555; padding: .5em 1em .5em 0; background: #fff;  }
.customfile label {display: block; margin: .5em 10px .5em 0;  }

/*custom upload elements*/
.customfile-input { position: absolute; height: 100px; margin-top: -5px; cursor: pointer; background: transparent; border: 0; opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); z-index: 1999;  }

.customfile {float:left;margin:0 0 0 10px; width: 60%;background: url("../images/tab-header-bg.png") repeat-x; border: 1px solid #999;cursor: pointer; overflow: hidden; padding: 2px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;  position: relative;}
.customfile-disabled { opacity: .5; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); cursor: default;  }
.customfile-feedback { display: block; margin: 1px 1px 1px 5px; color: #000; font-style: italic; padding:0px; margin-right:52px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
.customfile-feedback-populated { color: #000; font-style: normal; }
.customfile-button {font-size:11px; border: 1px solid #999; color: #000; float: right; width: 50px; padding:1px 2px 2px 2px; font-weight: bold; text-align: center; text-decoration: none; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;  }
.customfile-hover .customfile-button {border-color:#ec8026; }
.customfile-focus .customfile-button { outline: 1px dotted #ccc; }
