/** CORPORATE FONTS **/
@font-face {
    font-family: 'NewsGothic';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/ng-webfont.eot');
    src: url('fonts/ng-webfont.eot?iefix') format('eot'),
         url('fonts/ng-webfont.woff') format('woff'),
         url('fonts/ng-webfont.ttf') format('truetype'),
         url('fonts/ng-webfont.svg#webfontz7TwSUiw') format('svg');
}

@font-face {
    font-family: 'NewsGothic';
    font-weight: bold;
    font-style: normal;
    src: url('fonts/ngb-webfont.eot');
    src: url('fonts/ngb-webfont.eot?iefix') format('eot'),
         url('fonts/ngb-webfont.woff') format('woff'),
         url('fonts/ngb-webfont.ttf') format('truetype'),
         url('fonts/ngb-webfont.svg#webfontmFCfAkbS') format('svg');
}

/** CSS RESET, BASED ON YUI **/
html { color:#000; background:#FFF; }
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block; }
body { margin:6px 0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,th,var { font-style:normal; font-weight:normal; }
li { list-style:none; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; font-variant:normal; }
sup { vertical-align:text-top; }
sub { vertical-align:text-bottom; }
input,textarea,select { font-family:inherit; font-size:inherit; font-weight:inherit; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
input, textarea, select {  *font-size:100%; } /*to enable resizing for IE*/
legend { color:#000; } /*because legend doesn't inherit in IE */
body { font:13px/1.231 verdana,helvetica,arial,clean,sans-serif; *font-size:small; /*for IE*/ *font:x-small; /*for IE in quirks mode*/ }
select,input,button,textarea { font:99% verdana,helvetica,arial,clean,sans-serif; } /*Nudge down to get to 13px equivalent for these form elements*/
textarea { resize: none; }
table { font-size:inherit; font:100%; } /*To help tables remember to inherit*/
pre,code,kbd,samp,tt { font-family:monospace; *font-size:108%; line-height:100%; } /*Bump up IE to get to 13px equivalent for these fixed-width elements*/
a:link, a:visited { color:#29477F; text-decoration:none; }
a:hover, a:active { color:#E44C16; text-decoration:underline; }
b,strong { font-weight:bold; }
i,em { font-style:italic; }


/** GRID LAYOUT **/
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
	padding-left:10px; padding-right:10px; display:inline; float: left; position: relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.container_12			{ }
.container_12 .alpha	{ padding-left: 0; }
.container_12 .omega	{ padding-right: 0; }
.container_12 .grid_1	{ width:8.333%; }
.container_12 .grid_2	{ width:16.667%; }
.container_12 .grid_3	{ width:25% }
.container_12 .grid_4	{ width:33.333%; }
.container_12 .grid_5	{ width:41.667%; }
.container_12 .grid_6	{ width:50%; }
.container_12 .grid_7	{ width:58.333%; }
.container_12 .grid_8	{ width:66.667%; }
.container_12 .grid_9	{ width:75%; }
.container_12 .grid_10	{ width:83.333% }
.container_12 .grid_11	{ width:91.667% }
.container_12 .grid_12	{ width:100%; }

.container_12 .suffix_1	{ margin-right:8.333%; }
.container_12 .suffix_2	{ margin-right:16.667%; }
.container_12 .suffix_3 { margin-right:25.0%; }
.container_12 .suffix_4 { margin-right:33.333%; }
.container_12 .suffix_5 { margin-right:41.667%; }
.container_12 .suffix_6 { margin-right:50.0%; }
.container_12 .suffix_7 { margin-right:58.333%; }
.container_12 .suffix_8 { margin-right:66.667%; }
.container_12 .suffix_9 { margin-right:75.0%; }
.container_12 .suffix_10 { margin-right:83.333%; }
.container_12 .suffix_11 { margin-right:91.667%; }

.container_12 .prefix_1 { margin-left:8.333%; }
.container_12 .prefix_2 { margin-left:16.667%; }
.container_12 .prefix_3 { margin-left:25.0%; }
.container_12 .prefix_4 { margin-left:33.333%; }
.container_12 .prefix_5 { margin-left:41.667%; }
.container_12 .prefix_6 { margin-left:50.0%; }
.container_12 .prefix_7 { margin-left:58.333%; }
.container_12 .prefix_8 { margin-left:66.667%; }
.container_12 .prefix_9 { margin-left:75.0%; }
.container_12 .prefix_10 { margin-left:83.333%; }
.container_12 .prefix_11 { margin-left:91.667%; }

.clear  				{ clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }

/** SIG HEADER **/
header.sig							{ display:block; margin-bottom:20px; }
header.sig .identity, header.sig nav, header.sig .feedback { margin-right:-10px; padding-right:0; }
header.sig a, footer.sig a			{ text-decoration:none; outline: none; }
header.sig .sig-alpha-beta			{ vertical-align:-2px; margin-left:3px; }
header.sig h1, header.sig h2		{ display:inline; }
header.sig h1						{ color:#EC8026; font-size:20px; font-weight:bold; letter-spacing:-0.02em; }
header.sig h2						{ color:rgb(99,67,41); /* Novartis Brown */ font-size:14px; text-transform:capitalize; padding-left:0.3em; }
header.sig .identity, header.sig .feedback { text-align: right; }
header.sig .identity				{ font-size:12px; margin-top:10px; }
header.sig .feedback				{ margin-top:11px; font-size:11px; text-transform:uppercase; }
header.sig .feedback a				{ color:rgb(236,128,38); }
header.sig .identity a:link, header.sig .identity a:visited { color:#923222; }
header.sig nav, header.sig .search	{ border-top-width:6px; border-top-style:solid; margin-top:2px; }
header.sig nav						{ display:block; border-top-color:#EC8026; min-height:30px; }
header.no-nav nav					{ min-height:0; }
header.sig .search					{ border-top-color:rgb(252,175,23); /* Novartis Dark Yellow */ padding-top:6px; }
header.sig .search input			{ box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; border:1px solid #ccc; -webkit-border-radius:12px; -moz-border-radius:12px; border-radius:12px; width:100%; background:url('../images/search_small_off.png') 4px 4px no-repeat; padding:3px 3px 3px 22px; font-size:10pt; }
.sig-content h1, .sig-content h2, .sig-content h3, .sig-content h4, .sig-button, header.sig h1, header.sig h2 { font-family:'NewsGothic',verdana,sans-serif; }

/** MAIN NAVIGATION **/
header.sig nav						{ }
header.sig nav a					{ display:block; color:#923222; }
header.sig nav > ul					{ position:absolute; z-index:500; width:100%; letter-spacing: -4px; word-spacing: -4px; white-space:nowrap; }
header.sig nav > ul > li, header.sig nav ul ul { border-color: #EC8026; border-width: 0 1px 0 0; border-style: solid; }
header.sig nav > ul > li			{ display: inline-block; font-size: 11px; outline: medium none; letter-spacing: normal; word-spacing: normal; }
header.sig nav > ul > li:first-child { border-left:1px solid #EC8026; }
header.sig nav > ul > li > a		{ position: relative; padding: 9px 12px 8px 12px; background-color:white; z-index:400; }
header.sig nav > ul > li > a:hover	{ color:#EC8026; }
header.sig nav ul > li.selected > a { font-weight:bold; text-transform:uppercase; }
header.sig nav > ul > .has-submenu > a { background: url('../images/menu_off.png') 88% 14px no-repeat; padding-right:30px; }
header.sig nav > ul ul > .has-submenu > a { background: url('../images/submenu_off.png') 100% 50% no-repeat; padding-right:15px; }
header.sig nav ul ul				{ width:150px; position:absolute; border-width:1px; background-color:white; z-index:401; display:none; white-space: normal; -moz-box-shadow: 1px 3px 5px -1px #999; -webkit-box-shadow: 1px 3px 5px -1px #999; box-shadow: 1px 3px 5px -1px #999; }
header.sig nav > ul > li > ul		{ top:100%; display:none; margin-left:-1px; margin-top:-2px; }
header.sig nav > ul > li > ul ul	{ margin-top:-1px; left:150px; }
header.sig nav ul ul > li			{ padding:3px 12px 3px 12px; }
header.sig nav ul ul > li:hover, header.sig .current-user-dropdown ul li:hover { background:#eeeeee; }
header.sig .disabled a				{ color:#666666; }
header.sig nav > ul > li.disabled > a:hover { font-weight:normal; cursor:default; letter-spacing: normal; color:#666666; }

/** MAIN FOOTER **/
footer.sig				{ clear:both; margin-top:40px; display:block; padding:5px 0 10px; color:#999999; border-top:1px dotted #999999; font-size:8pt; }
footer.sig .copyright	{ float:left; }
footer.sig .contact		{ text-align:right; }

/** BASIC BUTTONS **/
.sig-content button, .sig-content input[type='submit'], .sig-button
	{ font-size:11px; padding:3px 10px; border:1px solid #666;
	  -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
	  -moz-box-shadow: 1px 1px 0 #ccc; -webkit-box-shadow: 1px 1px 0 #ccc; box-shadow: 1px 1px 0 #ccc;
	  background-color: #F6F6F6; /* default, to be overridden below by gradient */
	  background: -moz-linear-gradient(center top , #FFFFFF, #ECECEC) repeat-x scroll 0 0 #FFFFFF;
	  vertical-align: middle; white-space:nowrap; margin:0; line-height:16px; }

.sig-content button:active, .sig-content input[type='submit']:active, .sig-button:active
	{ -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

a.sig-button
	{ display:inline-block; color:black; padding:3px 10px 4px; }
	
@-moz-document url-prefix() {
	.sig-content button, .sig-content input[type='submit'], .sig-button {
		padding:3px 8px;
	}
    a.sig-button {
        padding:4px 11px;
    }
}
	
.sig-content button:hover, .sig-content input[type='submit']:hover, .sig-button:hover
	{ cursor: pointer; border-color:rgb(236,128,38); text-decoration:none; color:black; }

.sig-content button.primary, .sig-content input[type='submit'].primary, .sig-button.primary
	{ font-weight:bold; }

.sig-content button[disabled], .sig-content input[type='submit'][disabled], .sig-button[disabled]
	{ border-color:#999; background-color:#ECECEC; color:#999; }
	
.sig-content button[disabled]:hover, .sig-content input[type='submit'][disabled]:hover, .sig-button[disabled]:hover
	{ border-color:#999; cursor: default; background-color:#ECECEC; color:#999; }
	
.sig-content button[disabled]:active, .sig-content input[type='submit'][disabled]:active, .sig-button[disabled]:active
	{ -moz-box-shadow: 1px 1px 5px #C0C0C0; -webkit-box-shadow: 1px 1px 5px #C0C0C0; box-shadow: 1px 1px 5px #C0C0C0; color:#999; }
	
.sig-content .sig-button-icon, .sig-content .sig-button-icon-compact { background:rgb(246, 246, 246); background-position: 8px 50%; background-repeat: no-repeat; }
.sig-content .sig-button-icon			{ padding-left:25px; }
.sig-content a.sig-button-icon			{ padding-left:28px; }
.sig-content .sig-button-delete			{ background-image: url('../images/delete_small_off.png'); }
.sig-content .sig-button-save			{ background-image: url('../images/tick_small_off.png'); }


/** BASIC FORMS **/
.sig-content .field > label, .sig-content fieldset > label, label.sig {
	text-transform:uppercase;
	color: #666666;
	padding-bottom:2px;
	display:block;
	font-size:11px;
}

.sig-content input[type="text"], .sig-content input[type="password"], .sig-content input[type="number"], .sig-content input[type="tel"], .sig-content input[type="url"], .sig-content input[type="email"], .sig-content textarea {
	border:1px solid #ccc;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	padding:3px 4px;
	box-shadow:inset 1px 1px 5px #cccccc;
	-moz-box-shadow:inset 1px 1px 5px #cccccc;
	-webkit-box-shadow:inset 1px 1px 5px #cccccc;
	margin:0;
}

.sig-content input[type="text"]:focus, .sig-content input[type="number"]:focus, .sig-content input[type="tel"]:focus, .sig-content input[type="url"]:focus, .sig-content input[type="email"]:focus, .sig-content textarea:focus {
	border-color:#666;
}

.sig-content input[readonly]:focus {
	border-color:#ccc;
}

.sig-content textarea:disabled, .sig-content input:not([type]):disabled, .sig-content input[type="color"]:disabled, .sig-content input[type="date"]:disabled, .sig-content input[type="datetime"]:disabled, .sig-content input[type="datetime-local"]:disabled, .sig-content input[type="email"]:disabled, .sig-content input[type="month"]:disabled, .sig-content input[type="password"]:disabled, .sig-content input[type="number"]:disabled, .sig-content input[type="search"]:disabled, .sig-content input[type="tel"]:disabled, .sig-content input[type="text"]:disabled, .sig-content input[type="time"]:disabled, .sig-content input[type="url"]:disabled, .sig-content input[type="week"]:disabled {
	background-color: #EBEBE4;
	color:#999;
}

.sig-content fieldset, .sig-content .field {
	margin-top:0.75em;
}

.sig-content textarea {
	resize: none;
}

.sig-content .placeholder {
	color:#999;
}

.sig-content fieldset input, .sig-content fieldset label, .sig-content .field input, .sig-content .field label {
	vertical-align:top;
}

.sig-content .sig-actions, .sig-content .sig-actions-left {
	margin-top:1em;
}

.sig-content .sig-actions {
	text-align:right;
}

.sig-content input[type='radio'], .sig-content input[type='checkbox'] {
	vertical-align:-2px;
}

.sig-content input[type='radio'] + label, .sig-content input[type='checkbox'] + label {
	display:inline;
	color:black;
	text-transform:none;
}	


/** FEEDBACK FORM - INLINE **/
.sig-inline-feedback textarea			{ height:150px; }
.sig-inline-feedback .sig-actions		{ text-align: left; }
.sig-inline-feedback .sig-actions img	{ display: none; }
.sig-inline-feedback input[type='text'], .sig-inline-feedback select, .sig-inline-feedback textarea { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width:400px; }

/** FEEDBACK FORM **/
.feedback-form-dialog					{ display:none; position: absolute; top:39px; right:12px; background-color:white; border:1px solid #EC8026; padding:1em; font-size:11px; width:350px; z-index:10000; }
.feedback-form-dialog .improve			{ color:#666; margin-top:0.5em; }
.feedback-form-dialog #jira-ul			{ margin-top:0.5em; }
.feedback-form-dialog .feedback-description	{ height:100px; }
.sig-content.feedback-form-dialog input[type='text'], .sig-content.feedback-form-dialog textarea { -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; width:100%; }
.feedback-message						{ display: none; margin-top: 10px; background-color: #FDFFB8; border: 1px solid #FAFF6E; padding: 10px; font-size: 0.9em; }
.feedback-message a						{ color:rgb(146,50,34); text-decoration:underline; }
.feedback-form .form-error				{ color: #FF1F1F; font-size: 0.9em; padding: 2px; }
.feedback-form-dialog .feedback-form td	{ vertical-align: top; padding-bottom: 10px; }
.feedback-form-dialog .feedback-form th	{ vertical-align: top; padding-bottom: 10px; padding-right: 10px; }
.feedback-form-dialog button			{ margin-right: 5px; }
.feedback-form-dialog #feedback-form-loading { display: none; margin-right: 10px; vertical-align:middle; }

/** PRINT STYLES **/
@media print {
	
	/* Get rid of columns */
	.container_12 .grid_1, .container_12 .grid_2, .container_12 .grid_3, .container_12 .grid_4, .container_12 .grid_5, .container_12 .grid_6, .container_12 .grid_7, .container_12 .grid_8, .container_12 .grid_9, .container_12 .grid_10, .container_12 .grid_11, .container_12 .grid_12 {
		padding:0;
		display:block;
		float: none;
		width:100%;
	}
	
	.sig-content.grid_1, .sig-content.grid_2, .sig-content.grid_3, .sig-content.grid_4, .sig-content.grid_5, .sig-content.grid_6, .sig-content.grid_7, .sig-content.grid_8, .sig-content.grid_9, .sig-content.grid_10, .sig-content.grid_11, .sig-content.grid_12 {
		margin-bottom:1em;
	}
	
	.noprint, header.sig nav, header.sig .search, header.sig .identity, header.sig .feedback, .DataTables_sort_icon {
		display:none !important;
	}
	
	header.sig hgroup {
	    border-bottom:6px solid #EC8026;
	}
	
	.sig-datatable th {
		font-weight:bold;
	}
	
}