/** Main Preview Card Styles **/
	
.sig-preview-card {
	display:none;
	position:absolute;
	z-index:100;
	background-color:white;
}

.sig-preview-card:empty {
	background-image:url('http://nebulacdn.na.novartis.net/sig-current/jquery-sig-theme/images/ui-anim_basic_16x16.gif');
	background-repeat: no-repeat;
	background-position: center center;
}

/** Preview Card: Person **/

.sig-preview-card .person-preview .photo:empty {
	background-color: #eee;
}

.sig-preview-card .person-preview .photo {
	width:70px;
	min-height:70px;
	float:left;
}

.sig-preview-card .person-preview .photo img {
	width:70px;
}

.sig-preview-card .person-preview .person-details {
	margin-left:80px;
	font-size:12px;
}

.sig-preview-card .person-preview .person-details > a {
	font-weight:bold;
}

.sig-preview-card .person-preview .person-details .person-title {
	font-size:11px;
	color:#999;
	margin-bottom:3px;
}

.sig-preview-card .phone.unavailable {
	color: #666;
}
