/* temp "http://nebulacdn.na.novartis.net/" change on "../" */

/** HEADINGS **/
.sig-content h1, .sig-content h2, .sig-content h3, .sig-content h4 { line-height:1.2em; }

.sig-content h1 { font-size:21px; letter-spacing:-0.02em; }
.sig-content h2 { font-size:19px; letter-spacing:-0.01em;}
.sig-content h3 { font-size:17px; }
.sig-content h4 { font-size:15px; }

.sig-content-text h1, .sig-content-text h2, .sig-content-text h3, .sig-content-text h4, .sig-content-text hgroup {
	margin:20px 0 0.2em;
	line-height:1.2em;
}

.sig-content-text hgroup:first-child, .sig-content-text hgroup > *, .sig-content-text h1:first-child, .sig-content-text h2:first-child, .sig-content-text h3:first-child, .sig-content-text h4:first-child {
	margin-top:0;
	line-height:1.2em;
}

.sig-content-text a:link {
	text-decoration:underline;
}

.sig-content .action-header, .sig-content .content-header {
	border-bottom:1px solid #333;
	margin:0 0 1em;
	padding:0 0 4px;
	min-height:22px;
}

.sig-content .content-header {
	padding:0 0 3px;
}

.sig-content .action-header h2, .sig-content .content-header > :first-child {
	float:left;
}

.sig-content .action-header .buttons, .sig-content .content-header .content {
	text-align:right;
	font-size:11px;
	color:#666;
}

.sig-content .content-header .content {
	padding-top:8px;
}

/** BASIC TYPOGRAPHY **/
.sig-content p, .sig-content fieldset, .sig-content .field, .sig-content pre {
	margin-bottom:0.5em;
}
	
.sig-content a.external {
	background:url('../images/external_link.gif') right center no-repeat;
	padding:0 13px 0 0;
}

.sig-content abbr, .sig-content acronym {
	border-bottom:1px dotted #000;
	cursor:help;
}

.sig-content p, .sig-content blockquote, .sig-content dl, .sig-content-lists ul, .sig-content-lists ol, ul.sig, ol.sig {
	line-height:1.4em;
}

.sig-content blockquote, .sig-content dl, ol.sig, .sig-content-lists ol {
	margin:1em;
	margin-left:2em;
}

ul.sig, .sig-content-lists ul {
	margin:1em 0 1em;
}

ol.sig li, .sig-content-lists ol li {
	list-style: decimal outside;	
}

ul.sig li, .sig-content-lists ul li {
	list-style-type: none;
	background: url('../images/bullet.png') no-repeat 0 6px transparent;
	padding-left: 12px;
}

.sig-content dl dd {
	margin-left:1em;
}

/** LEFT NAVIGATION **/
.sig-page-nav > ul						{ border-bottom: 2px solid #EC8026; }
.sig-page-nav > ul > li					{ background: url('../images/dottedline_horizontal.gif') top repeat-x; }
.sig-page-nav li a 						{ display: block; padding: 8px 0 7px 15px; }
.sig-page-nav > ul > li:first-child 	{ background-image: none; }
.sig-page-nav li:hover 					{ background-color: #F5F5F5; }
.sig-page-nav > ul > .selected > a		{ color: #923222; font-weight: bold; background: url('../images/arrow_bullet_off.png') 4px 12px no-repeat; outline: none; }
.sig-page-nav .selected.has-submenu > a	{ background: url('../images/menu_arrow_off.png') no-repeat 4px 15px; padding-bottom:5px; }
.sig-page-nav .selected > a:hover, .sig-page-nav li li.selected > a:hover { text-decoration: none; cursor: default; color:#29477F; }
.sig-page-nav-content 					{ display: none; overflow: auto; }
.sig-page-nav li li a					{ padding-bottom:3px; padding-top:0; font-size:11px; }
.sig-page-nav li li.selected			{ font-weight:bold; }
.sig-page-nav ul ul						{ padding-bottom:7px; display:none; }
.sig-page-nav .selected ul				{ display:block; }

/** SIMPLE TABLES **/
.sig-grid {font-size: 11px;}
.sig-grid td, .sig-grid th				{ padding:3px 7px 4px 3px; }
.sig-grid th							{vertical-align: bottom; font-family: 'NewsGothic', Arial, Verdana, Sans-serif; color: #000000; text-transform: none; font-size: 12px }
.sig-grid th:first-child, .sig-grid td:first-child { border-left: none; }
.sig-grid tr:nth-child(odd)				{ background-color: #ffffff; }
.sig-grid tr:nth-child(odd):hover, .sig-grid tr:nth-child(odd):active, .sig-grid tr:nth-child(even):hover, .sig-grid tr:nth-child(even):active { background-color: #E1ECF2; }

.sig-grid tr.selected td				{ background-color: #FEC451; }
.sig-grid tr.error td					{ background-color: #E98B7E; }
.sig-grid tr.disabled td				{ background-color: #FAFAFA; color: #BBBBBB; }
.sig-grid-static { border: none; }
.sig-grid-static thead th				{ border-bottom: 1px solid #DDDDDD; } 
.sig-grid-static th						{ color: #666666; text-transform: uppercase; font-size: 11px; }
/*.sig-grid.sig-grid-static tbody th		{ background: none; border-right: 1px solid #999;  }*/

/** DYNAMIC TABLE STYLING (for third-party libraries) **/
.sig-grid-dynamic						{ border: 1px solid #E3E3E3; } 
.sig-grid-dynamic th					{ background: url("../images/tab-header-bg.png") repeat-x scroll 50% 40% #E3E3E3;   }
.sig-grid-dynamic th:hover				{ background: url("../images/tab-header-bg.png") repeat-x scroll 50% 0% #FFFFFF; cursor:pointer;  }
.sig-grid-dynamic th:active				{ background: url("../images/tab-header-bg.png") repeat-x scroll 50% 90% #DDDDDD; }
.sig-grid-dynamic thead th				{ border-bottom: 2px solid #CCCCCC; vertical-align: bottom; }
.sig-grid-dynamic tr:nth-child(even)	{ background-color: #EEEEEE; }
.sig-grid-dynamic img.settings			{ padding-left: 7px; }
span.grid-setting						{ background: url('../images/preference_small_off.png') center no-repeat; padding-left: 18px; }
span.grid-setting:hover					{ background-image: url('../images/preference_small_on.png'); }
span.grid-setting:active				{ background-image: url('../images/preference_small_click.png'); }
span.grid-setting-menu					{ background: url('../images/preference_menu_small_off.png') center no-repeat; padding-left: 23px; padding-right: 2px; }
span.grid-setting-menu:hover			{ background-image: url('../images/preference_menu_small_on.png'); }
span.grid-setting-menu:active			{ background-image: url('../images/preference_menu_small_click.png'); }
.sig-grid-dynamic th span.grid-sort		{ background: url('../images/sortdown_off.png') center no-repeat; padding-left: 13px; }
.sig-grid-dynamic th span.sort-up		{ background: url('../images/sortup_off.png') center no-repeat; padding-left: 13px; }
.sig-grid-dynamic th span.grid-sort:hover { background-image: url('../images/sortdown_on.png'); }

/** DATATABLES **/
.sig-datatable							{ width:100%; font-size: 11px; border: 1px solid #E3E3E3; clear:both; }
.dataTables_wrapper:before, .dataTables_wrapper:after { content:""; display:table; }
.dataTables_wrapper:after { clear:both; }
.sig-datatable tbody					{  }
.sig-datatable th 						{font-family: 'NewsGothic', Arial, Verdana, Sans-serif; color: #000000; text-transform: none; font-size: 12px }
.sig-datatable .css_right				{ float:right; }
.sig-datatable td, .sig-datatable th	{ border-width:0px; padding:3px 7px 4px 3px;  -ms-word-break: break-all; -ms-word-wrap: break-word; word-wrap: break-word; word-break: break-all;white-space: pre-wrap; }
.sig-datatable thead th					{ border-bottom: 1px solid #BBBBBB; vertical-align: bottom;}
.sig-datatable td:first-child			{ border-left-width: 0px; }
.sig-datatable thead th:hover			{ background: url("../images/tab-header-bg.png") repeat-x scroll 50% 0% #FFFFFF; cursor:pointer; }
.sig-datatable thead th:active			{ background: url("../images/tab-header-bg.png") repeat-x scroll 50% 90% #DDDDDD; }
.sig-datatable tr.odd					{ background-color:#fff; }
.sig-datatable tr.even					{ background-color:#eee; }
.sig-datatable tr:hover					{ background-color:#E1ECF2; }
.sig-datatable tr.selected				{ background-color: #FEC451; }
.sig-datatable .group					{ border-bottom: 1px solid #999; border-top: 1px solid #999;  }
.sig-content .dataTables_filter input[type='text'] { font-size: 11px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; width:30%; margin-bottom:0.5em; float:right; }
.sig-content .DTCR_pointer				{ width: 1px; background-color: #0259C4; z-index: 201; }
.sig-content .dataTables_info			{ float:left; font-size:11px; margin-top:4px; color:#666; }
.sig-datatable thead th div.DataTables_sort_wrapper { position: relative; padding-right: 20px; white-space: nowrap; }
.sig-datatable thead th div.DataTables_sort_wrapper span { position:absolute; top:50%; margin-top:-8px; right:0; }
.sig-datatable .expanded-group, .sig-datatable .collapsed-group { padding-left: 20px !important; cursor:pointer; }
.sig-datatable .expanded-group:hover, .sig-datatable .collapsed-group:hover { background-color: #ddd; border-bottom: 1px solid #CCC; border-top: 1px solid #CCC;   } 
.sig-datatable .expanded-group			{ background: url("../images/title_down_off.png") no-repeat scroll 4px center #ccc; }
.sig-datatable .collapsed-group		{ background: url("../images/title_right_off.png") no-repeat scroll 4px center #ccc; }
.sig-content .dataTables_paginate 		{ margin-top:6px; float:right; margin-right:0; }
.sig-content .dataTables_paginate .ui-button { font-size:11px; padding:3px 6px; margin-right:0; }
.sig-content .dataTables_paginate .previous { margin-right: 3px; border-left:none; }
.sig-content .dataTables_paginate .next { margin-left: 4px; border-right:none; }
.sig-content .dataTables_scroll {border-bottom: 1px solid #CCCCCC; vertical-align: bottom;}
.sig-content .dataTables_title { float:left; font-weight:bold; font-family:NewsGothic; font-size:16px; }
.sig-content .dataTables_length { float: right; font-size: 11px; margin-left: 1em; margin-top: -1px; color: #333; }

/** SELECT - DROPDOWNS **/
.sig-content select {
    border: 1px solid #999;
    -webkit-appearance:none; /* remove the strong OSX influence from Webkit */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: url("../images/tab-header-bg.png") 50% 50% repeat-x;
    font-family:Verdana,sans-serif;
    padding:2px;
    margin:0;
}

.sig-content select.simple {
	background:none;
}

.sig-content input[readonly] {
	background-color:#EBEBE4;
}

.sig-content input[readonly].hasDatepicker {
	background-color:inherit;
}

.sig-content select:focus {
	background: none;
}

/* for Webkit's CSS-only solution */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    .sig-content select { padding-right:30px; background: url("../images/sig_dropdown_arrow.png") right center no-repeat, url("../images/tab-header-bg.png") 50% 50% repeat-x; }
	.sig-content select:focus { background: url("../images/sig_dropdown_arrow.png") right center no-repeat; }
}

/** MULTISELECT **/
ul.ui-helper-reset						{margin: 0}
.ui-multiselect							{ padding:2px 0 2px 4px; text-align:left }
.ui-multiselect span.ui-icon 			{ float:right }
.ui-multiselect-single .ui-multiselect-checkboxes input { position:absolute !important; top: auto !important; left:-9999px; }
.ui-multiselect-single .ui-multiselect-checkboxes label { padding:5px !important }
.ui-multiselect-header 					{ margin-bottom:3px; padding:4px; background-color: #EEE;}
.ui-corner-all.ui-multiselect-header 	{ border-bottom-right-radius: 0; border-bottom-left-radius: 0; -moz-border-radius-bottomright: 0; -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; -webkit-border-bottom-right-radius: 0; }
.ui-multiselect-header ul 				{ font-size:0.9em;  }
.ui-multiselect-header ul li 			{ float:left; padding:0 10px 0 0; }
.ui-multiselect-header a 				{ text-decoration:none }
.ui-multiselect-header a:hover 			{ text-decoration:underline }
.ui-multiselect-header span.ui-icon 	{ float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }
.ui-multiselect-menu .ui-state-hover 	{ border: none; }
.ui-multiselect-menu 					{ display:none; padding: 0; position:absolute; z-index:10000 }
.ui-multiselect-menu ul li 				{ background: none;}
.ui-multiselect-checkboxes 				{ position:relative /* fixes bug in IE6/7 */; overflow-y:scroll;}
.ui-multiselect-checkboxes label 		{ cursor:default; display:block; padding:3px 1px 3px 6px }
.ui-multiselect-checkboxes label input 	{ position:relative; top:1px; margin-right: 5px; }
ul.ui-multiselect-checkboxes li 		{ padding-left: 0}
.ui-multiselect-checkboxes li label.ui-state-hover { background-color: #eeeeee; background-image:none}
.ui-multiselect-checkboxes li 			{ clear:both; font-size:0.9em;}
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold; border-bottom:1px solid }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none }
* html .ui-multiselect-checkboxes label { border:none } /* remove label borders in IE6 because IE6 does not support transparency */


/** FIELD NOTES & ERROR MESSAGES **/
.sig-content fieldset div.error, .sig-content fieldset .info {
	display:block;
	margin-top:3px;
	font-size:11px;
}

.sig-content div.error {
	color:#B91E24;
	margin-top:3px;
	background-image: url('../images/error-inline-new.png');
	background-repeat: no-repeat;
	background-position: 0px 1px;
	padding-left:14px;
}

.sig-content input.error, .sig-content textarea.error {
	border-color:#B91E24 !important;
}

.sig-content fieldset .info {
	color:#666;
}

.sig-content fieldset div.error + .info {
	margin-top:2px;
}

.input-validation-error {
	border-color:#660000 !important;
}

.field-validation-error {
	color:#660000;
	margin-top:3px;
	background-image: url('../images/error-inline.png');
	background-repeat: no-repeat;
	background-position: 1px 3px;
	padding-left:14px;
}

.sig-content label span.required {
    color:#660000;
    font-weight:bold;
}

/** BUTTON ICON STYLES **/
.sig-content .sig-button-icon-compact	{ width:32px; height:24px; }
.sig-content .sig-button-back 			{ background-image: url(../images/back_small_off.png); }	
.sig-content .sig-button-forward		{ background-image: url('../images/go_small_off.png'); }
.sig-content .sig-button-previous		{ background-image: url('../images/previous_small_off.png'); padding-left:20px; }
.sig-content .sig-button-next			{ background-image: url('../images/next_small_off.png'); padding-left:20px; }
.sig-content .sig-button-edit			{ background-image: url('../images/edit_small_off.png'); }
.sig-content .sig-button-edit-add		{ background-image: url('../images/editplus_small_off.png'); padding-left:27px; }
.sig-content .sig-button-add			{ background-image: url('../images/add_small_off.png'); }
.sig-content .sig-button-remove			{ background-image: url('../images/remove_small_off.png'); }
.sig-content .sig-button-upload			{ background-image: url('../images/upload_small_off.png'); }
.sig-content .sig-button-download		{ background-image: url('../images/download_new.png'); }
.sig-content .sig-button-export			{ background-image: url('../images/export_small_off.png'); }
.sig-content .sig-button-export-pdf		{ background-image: url('../images/exportpdf_small_off.png'); }
.sig-content .sig-button-export-excel	{ background-image: url('../images/exportexcel_small_off.png'); }
.sig-content .sig-button-print			{ background-image: url('../images/print_small_off.png'); }
.sig-content .sig-button-attach			{ background-image: url('../images/attach_small_off.png'); }
.sig-content .sig-button-settings		{ background-image: url('../images/preference_small_off.png'); }
.sig-content .sig-button-settings-menu	{ background-image: url('../images/preference_menu_small_off.png'); padding-left:32px; }
.sig-content .sig-button-calendar		{ background-image: url('../images/calendar_off.png'); background-position: 0 20%; }
.sig-content .sig-button-grid			{ background-image: url('../images/grid_off.png'); background-position: 0 30%; }
.sig-content .sig-button-search			{ background-image: url('../images/search_small_off.png'); }
.sig-content .sig-button-help			{ background-image: url('../images/help_small_off.png'); }
.sig-content .sig-button-rss			{ background-image: url('../images/rss_small_off.png'); }
.sig-content .sig-button-comment		{ background-image: url('../images/comment_small_off.png'); }
.sig-content .sig-button-copy			{ background-image: url('../images/copy_small_off.png') }
.sig-content .sig-button-detail			{ background-image: url('../images/detail_small_off.png') }
.sig-content .sig-button-note			{ background-image: url('../images/note_small_off.png') }
.sig-content .sig-button-note-add		{ background-image: url('../images/noteplus_small_off.png') }
.sig-content .sig-button-folder			{ background-image: url('../images/folder_small_off.png') }
.sig-content .sig-button-folder-manage	{ background-image: url('../images/foldermanage_small_off.png') }
.sig-content .sig-button-calculate		{ background-image: url('../images/calculate_small_off.png') }
.sig-content .sig-button-experiment		{ background-image: url('../images/experiment_small_off.png') }
.sig-content .sig-button-new-window		{ background-image: url('../images/newwindow_small_off.png') }
.sig-content .sig-button-filter			{ background-image: url('../images/filter_small_off.png') }
.sig-content .sig-button-playback-pause	{ background-image: url('../images/playback_pause.png'); } 
.sig-content .sig-button-playback-play	{ background-image: url('../images/playback_play.png'); }
.sig-content .sig-button-playback-rew	{ background-image: url('../images/playback_rew.png'); }
.sig-content .sig-button-playback-ff	{ background-image: url('../images/playback_ff.png'); }
.sig-content .sig-button-spotfire		{ background-image: url('../images/spotfire_small_off.png'); }
.sig-content .sig-button-up				{ background-image: url('../images/up_small_off.png'); }
.sig-content .sig-button-down			{ background-image: url('../images/down_small_off.png'); }
.sig-content .sig-button-above			{ background-image: url('../images/above_small_off.png'); }
.sig-content .sig-button-below			{ background-image: url('../images/below_small_off.png'); }
.sig-content .sig-button-menu			{ background-image: url('../images/menulist_small_off.png'); padding-left: 32px; }
.sig-content .sig-button-high-priority	{ background-image: url('../images/priority_high_off.png'); }
.sig-content .sig-button-blank-doc		{ background-image: url('../images/blankdoc_small_off.png'); }
.sig-content .sig-button-doc			{ background-image: url('../images/doc_small_off.png'); }
.sig-content .sig-button-search-help	{ background-image: url('../images/search_help_off.png'); }
.sig-content .sig-button-comment-add	{ background-image: url('../images/comment_add_small_off.png'); }
.sig-content .sig-button-info			{ background-image: url('../images/info_small_off.png'); }
.sig-content .sig-button-invert			{ background-image: url('../images/invert_small_off.png'); }
.sig-content .sig-button-recommend		{ background-image: url('../images/badge_small_off.png'); }
.sig-content .sig-button-print-label	{ background-image: url('../images/printlabel_small_off.png'); }
.sig-content .sig-button-mac			{ background-image: url('../images/mac_small_off.png'); }
.sig-content .sig-button-windows		{ background-image: url('../images/windows_small_off.png'); }
.sig-content .sig-button-engine			{ background-image: url('../images/engine_small_off.png'); }
.sig-content .sig-button-caution		{ background-image: url('../images/caution_small_off.png'); }
.sig-content .sig-button-error			{ background-image: url('../images/error_small_off.png'); }
.sig-content .sig-button-flag			{ background-image: url('../images/flag_small_off.png'); }
.sig-content .sig-button-request		{ background-image: url('../images/request_small_off.png'); }
.sig-content .sig-button-reset			{ background-image: url('../images/reset_small_off.png'); }
.sig-content .sig-button-editcross		{ background-image: url('../images/editcross_small_off.png'); }
.sig-content .sig-button-template		{ background-image: url('../images/template_small_off.png'); }
.sig-content .sig-button-email			{ background-image: url('../images/email_small_off.png'); }
.sig-content .sig-button-excel			{ background-image: url('../images/xls_small_off.png'); }
.sig-content .sig-button-export-msdoc	{ background-image: url('../images/exportmsdoc_small_off.png'); }
.sig-content .sig-button-export-ppt		{ background-image: url('../images/exportppt_small_off.png'); }
.sig-content .sig-button-msdoc			{ background-image: url('../images/msdoc_small_off.png'); }
.sig-content .sig-button-ppt			{ background-image: url('../images/ppt_small_off.png'); }
.sig-content .sig-button-pdf			{ background-image: url('../images/pdf_small_off.png'); }
.sig-content .sig-button-announce		{ background-image: url('../images/announcement_small_off.png'); }
.sig-content .sig-button-progeny		{ background-image: url('../images/progeny_small_off.png'); }
.sig-content .sig-button-parent			{ background-image: url('../images/parent_small_off.png'); }
.sig-content .sig-button-clock			{ background-image: url('../images/clock_small_off.png'); }
.sig-content .sig-button-clock-mini		{ background-image: url('../images/clock_mini_off.png'); }
.sig-content .sig-button-shoppingcart	{ background-image: url('../images/shoppingcart_small_off.png'); }
.sig-content .sig-button-comment2		{ background-image: url('../images/comment2_small_off.png'); }
.sig-content .sig-button-edit-color		{ background-image: url('../images/editcolor_small_off.png'); }
.sig-content .sig-button-recur			{ background-image: url('../images/recurring_small_off.png'); }
.sig-content .sig-button-lock			{ background-image: url('../images/lock_small_off.png'); }
.sig-content .sig-button-undo			{ background-image: url('../images/undo_small_off.png'); }
.sig-content .sig-button-onenote		{ background-image: url('../images/onenote_small_off.png'); }
.sig-content .sig-button-export-onenote	{ background-image: url('../images/exportonenote_small_off.png'); }
.sig-content .sig-button-registered		{ background-image: url('../images/registered_small_off.png'); }
.sig-content .sig-button-lightning		{ background-image: url('../images/lightning_small_off.png'); }
.sig-content .sig-button-pass			{ background-image: url('../images/pass_small_off.png'); }
.sig-content .sig-button-zoom			{ background-image: url('../images/zoom_small_click.png'); }
.sig-content .sig-button-left			{ background-image: url('../images/arrow_left_small_off.png'); }
.sig-content .sig-button-right			{ background-image: url('../images/arrow_right_small_off.png'); }
.sig-content .sig-button-fail			{ background-image: url('../images/fail_small_off.png'); }
.sig-content .sig-button-undefine		{ background-image: url('../images/undefine_small_off.png'); }

/* PERSON/AVAILABILITY STYLING (deprecated) */
.sig-person			{ padding-left:16px; background:url('../images/presence_unknown.png') left 58% no-repeat; white-space:nowrap; }
.sig-person.online	{ background-image:url('../images/presence_online.png'); }
.sig-person.offline { background-image:url('../images/presence_unknown.png'); }
.sig-person.away	{ background-image:url('../images/presence_away.png'); }
.sig-person.busy	{ background-image:url('../images/presence_busy.png'); }

/** ROUNDED PANEL **/
.sig-rounded-panel	{ border: 1px solid #ddd; border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px; margin-bottom: 1em; padding: 16px; }

/** PERSON LOOKUP (move this to plugin CSS) **/
.ui-sig-people-label-521	{ font-size: 11px; color: #999; }
.ui-autocomplete-scroll		{ height: 200px; overflow-y: scroll; overflow-x: hidden; }

/** RIGHT CLICK CURSOR (deprecated) **/
.rightclickable { cursor: url("../images/menu.cur"), default; }

/** GADGET STYLES - NEED TO REEVALUATE **/
.gadgets-gadget-chrome {
    -moz-border-radius: 4px;
    -webkit-border-radius: 3px;
    border-radius:4px;
    border: 1px solid #EAEAEB;
    overflow: hidden;
}

.gadget-navigation.gadgets-gadget-chrome {
    border: none;
}

.gadgets-gadget {
    width: 100%;
    height: 100%;
    border: none;
}

.gadgets-gadget-title-bar {
    font-family:'NewsGothic',verdana,sans-serif;
    padding-top: 2px;
    padding-left: 7px;
    font-weight:normal;
    height:22px;
    line-height:20px;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.17, rgb(242,242,242)),
	    color-stop(0.69, rgb(252,252,252))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(242,242,242) 17%,
	    rgb(252,252,252) 69%
	);
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.gadgets-gadget-open, .gadgets-gadget-closed {
    background-repeat:no-repeat;
    background-position: 5px 7px;
    padding-left:18px;
}

.gadgets-gadget-open {
    background-image:url('../images/title_down_off.png');
}

.gadgets-gadget-closed {
    background-image:url('../images/title_right_off.png');
}

.gadget-navigation .gadgets-gadget-title-bar {
    display:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0;
}

.gadgets-gadget-title {
    color: #666666;
}

.gadgets-gadget-content {
    height: auto;
}

.gadgets-gadget-padded {
    padding: 7px;
}

.gadget-navigation .gadgets-gadget-content {
    border-top: none;
    padding:0;
}

.gadget-navigation .gadgets-gadget-content ul {
    margin-top:0;
}

.gadget-navigation.gadget-vertical li {
    border-top:1px solid #ccc;
}

.gadget-navigation.gadget-vertical .gadget-navigation-scroll {
    display:none;
}

.gadget-navigation li a {
    display:block;
    padding:4px 0 6px;
    color:black;
}

.gadget-navigation li a .title {
    color:#29477F;
}

.gadget-navigation li a .details {
    color:#999999;
    font-size:11px;
}

.gadget-navigation li a:hover {
    background-color:#efefef;
    text-decoration:none;
    color:black;
}

.gadget-navigation.gadget-vertical ul {
    border-bottom:1px solid #ccc;
    height:400px;
    overflow-y:scroll;
}

.gadget-navigation.gadget-horizontal ul {
    overflow-x: hidden;
    white-space: nowrap;
    white-space-collapse: collapse;
}

.gadget-navigation.gadget-horizontal li {
    display:inline-block;
    width:200px;
    height:80px;
    border:1px solid #ccc;
    margin-right:-1px;
    white-space: normal;
    overflow-y: hidden;
    overflow-x: hidden;
    -moz-border-radius: 4px;
    -webkit-border-radius: 3px;
    border-radius:4px;
}

.gadget-navigation.gadget-horizontal li a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display:block;
    padding:5px;
    height:100%;
}

.gadget-navigation.gadget-horizontal .gadget-navigation-scroll {
    display:block;
    height:80px;
}

.gadget-navigation.gadget-horizontal .scroll-previous {
    float:left;
    margin-right:1em;
}

.gadget-navigation.gadget-horizontal .scroll-next {
    float:right;
    margin-left:1em;
}
