#sig-help-panel-livechat {
	top:375px;
}

#sig-help-livechat-message {
	width: 100%;
}

#sig-help-livechat-button {
	float: right;
}

#sig-help-panel-single h2 {
	margin-bottom:6px;
}

header.sig .feedback {
	text-transform:none;
	font-size:12px;
}

.sig-help-panel a.external {
	background:url('../images/external_link.gif') right center no-repeat;
	padding:0 13px 0 0;
}

.sig-help-panel {
	position:absolute;
	width:350px;
	background-color:rgb(245,243,240);
	font-size:12px;
	color:#333;
	box-shadow: 2px 2px 1px 0px #ddd;
	border:1px solid #ccc;
	display:none;
	z-index:600;
	right:367px;
}

#sig-help-panel-single {
    right:721px;
}

.sig-help-dropdown {
	position:absolute;
	right:10px;
}

.sig-help-panel h2 {
	font-family:NewsGothic;
	font-size:16px;
	margin:7px 10px 1px 10px;
	float:left;
	cursor:move;
	width:80%;
}

.sig-help-panel .close {
	float:right;
	text-align:right;
	padding:6px 10px 10px 0;
	font-size:16px;
	margin-bottom:-3px;
}

.sig-help-panel .close a {
	padding-left:20px;
	color:#333;
}

.sig-help-panel .close a:hover {
	text-decoration: none;
	color:#E44C16;
}

.sig-help-panel .section {
	margin:10px;
	background-color:white;
	padding:8px;
	clear:both;
}

.sig-help-panel .section p, .sig-help-panel .section ul {
	margin-bottom:0.75em;
	font-size:11px;
}

.sig-help-panel h3 {
	color:#EC8026;
	font-family:NewsGothic;
	font-weight:bold;
	padding-bottom:4px;
	font-size:16px;
}

.sig-help-sidepanel h3 {
	text-transform:uppercase;
	font-size:12px;
}

.sig-help-dropdown h3 .sig-help-appname {
	font-weight:normal;
	font-size:12px;
}

.sig-help-userpanel h3 {
	padding-bottom:0;
	text-transform:none;
	font-size:13px;
	margin-top:0.5em;
}

.sig-help-userpanel ul {
	margin-top:0.5em;
}

.sig-help-panel h3.mixed {
	text-transform:none;
	font-size:13px;
}

h3.sig-help-appname {
	border-bottom:1px dotted #ccc;
	margin-bottom:6px;
}

.sig-help-dropdown .sig-help-list {
	margin-bottom:-4px;
}

.sig-help-dropdown .sig-help-list li, .sig-help-panel .ticket-list li {
	border-top:1px dotted #ccc;
	padding:12px 0px;
}

.sig-help-dropdown .sig-help-list li:first-child {
	border-top:none;
}

.sig-help-dropdown .sig-help-list li.bullet, html.sharepoint .sig-help-app-content ul.sig li {
	list-style-type: none;
	background: url('../images/bullet.png') no-repeat 2px 17px transparent;
	padding-left:12px;
}

html.sharepoint .sig-help-app-content ul.sig li {
	background-position-y: 5px;
}

html.sharepoint .sig-help-panel ul, html.sharepoint .sig-help-panel li {
	margin-left:0;
}

html.sharepoint .sig-help-panel a:link, html.sharepoint .sig-help-panel a:visited {
	color: #E44C16;
}

html.sharepoint .sig-help-panel img {
	border:0;
}

html.sharepoint .sig-help-panel li {
	list-style-type: none;
}

html.sharepoint .sig-help-dropdown {
    right:20px;
}


.sig-help-dropdown .bubble {
	width:70px;
	text-align:center;
	border:1px solid #ccc;
	border-radius:8px;
	padding:8px 4px;
	font-size:9px;
	display:block;
	color:#999;
	margin-bottom:7px;
	text-transform:uppercase;
}

.sig-help-dropdown .bubble .pointy {
	display:block;
	margin-bottom:-16px;
	margin-left:10px;
	margin-top:10px;
}

.sig-help-dropdown .push-right {
	float:right;
	margin-left:10px;
}

.sig-help-dropdown .push-left {
	float:left;
	margin-right:5px;
}

.sig-help-dropdown .bubble .count {
	font-size:14px;
	font-weight:bold;
	display:block;
	color:black;
}

.sig-help-panel .group:before, .sig-help-panel .group:after {
    content:"";
    display:table;
}

.sig-help-panel .group:after {
    clear:both;
}

.sig-help-app-content {
	font-size:11px;
	margin-bottom:7px;
}

html.sharepoint .sig-help-sidepanel {
	right:372px;
}

html.sharepoint .sig-help-panel .placeholder {
	color:#999;
}

html.sharepoint .sig-help-panel input[type="text"], html.sharepoint .sig-help-panel textarea {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	font-family: verdana, helvetica, arial, clean, sans-serif;
	font-size: 11px;
	padding:3px 4px;
	resize:none;
}

html.sharepoint #feedback-form-link {
	text-transform:none !important;
}

.sig-help-form textarea, .sig-help-form input[type="text"] {
	width:100%;
	margin-bottom:4px;
}

.sig-help-form textarea {
	height:80px;
}

.sig-help-form input[type="submit"] {
	margin-top:8px;
	margin-bottom:3px;
	float:right;
}

.sig-help-panel .table-list {
	border-bottom:1px dotted #ccc;
	margin-bottom:8px;
	width:100%;
}

.sig-help-panel .table-list .meta {
	font-size:10px;
	text-transform:uppercase;
	text-align:right;
	color:#666;
	width:80px;
}

.sig-help-panel .table-list th, .sig-help-panel .table-list td {
	vertical-align:middle;
	padding:4px 0;
	border-top:1px dotted #ccc;
}

.sig-help-panel .table-list th {
	font-size:18px;
	width:14px;
	font-weight:bold;
	color:#ccc;
	padding-right:8px;
}

.sig-help-panel .help-contacts {
	font-size:11px;
}

.sig-help-panel .help-contacts td:first-child {
	width:35%;
}

.sig-help-panel .help-contacts img {
	vertical-align:-2px;
}

.sig-help-panel .form-message, .sig-help-panel .form-error {
	font-size:11px;
	padding-bottom:6px;
}

.sig-help-panel .form-message:empty, .sig-help-panel .form-error:empty {
	padding-bottom:0;
}

.sig-help-panel .form-message {
	color:#4A812A;
}

.sig-help-panel .form-error {
	color:#660000;
}

.sig-help-panel .spinner {
	display:none;
	margin-top:10px;
	margin-left:2px;
}

.sig-help-panel select {
	width:100%;
	margin-bottom:4px;
}

.sig-single-ticket-description, .sig-single-ticket-response {
	max-height:150px;
	overflow-y:auto;

	white-space: pre;           /* CSS 2.0 */
	white-space: pre-wrap;      /* CSS 2.1 */
	white-space: pre-line;      /* CSS 3.0 */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap;  /* HP Printers */
	word-wrap: break-word;      /* IE 5+ */
}
