body {
  margin: 6px;
  min-width: 1200px;
}
.wrap {
  margin: 0 18px;
}
.tbl-plate-well > tbody > tr > td {
  vertical-align: top;
}
.tbl-plate-well > tbody > tr > td:first-child {
  padding-right: 36px;
}
.loadingImg {
  display: none;
  width: 128px;
  height: 15px;
  background-image: url("../images/waitNotification2.gif");
  background-repeat: no-repeat;
}
.loadingImgPlate {
  display: none;
  width: 128px;
  height: 15px;
  background-image: url("../images/waitNotification2.gif");
  background-repeat: no-repeat;
  margin: 0 auto;
}
.loadingImgShort {
  display: none;
  width: 51px;
  height: 15px;
  background-image: url("../images/waitNotification2_short.gif");
  background-repeat: no-repeat;
}
.div-loading {
  text-align: center;
}
span.spinner {
  background-image: url("../images/spinner.gif");
  width: 16px;
  height: 16px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
  margin-top: -2px;
}
.rowcount {
  display: none;
  font-style: normal;
}
.norecords {
  display: none;
  font-style: italic;
}
a:focus,
a:active {
  outline: none;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child {
  margin-top: 6px;
}
h2 > .btn {
  margin-top: -10px;
  font-size: 13px;
}
h2 > .btn.pull-right {
  margin-left: 10px;
}
hr {
  margin-bottom: 10px;
  margin-top: 10px;
}
.navbar {
  min-height: 20px;
  margin-bottom: 18px;
}
.form-horizontal.form-horizontal-left .control-label {
  text-align: left;
}
.form-horizontal .control-label.control-label-2rows {
  padding-top: 0;
}
textarea {
  resize: none;
}
.text-control {
  padding-top: 7px;
}
.form-inline.form-inline-space {
  margin-bottom: 10px;
}
.form-inline.form-inline-space > .form-group {
  vertical-align: top;
}
.form-inline.form-inline-space > .form-group > * {
  vertical-align: middle;
}
.form-inline.form-inline-space > .form-group,
.form-inline.form-inline-space > .radio,
.form-inline.form-inline-space > .checkbox {
  margin-right: 5px;
}
.form-inline.form-inline-space > .form-group > .control-label {
  margin-right: 5px;
}
.form-control.input-sm {
  height: 22px;
}
label.control-label-inline {
  margin-bottom: 0;
  padding-bottom: 0;
}
:disabled label {
  color: #999999;
}
ul.ul-simple,
ul.ul-simple ul {
  margin-left: 20px;
  padding: 0;
}
ul.ul-simple li,
ul.ul-simple ul li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.select2-container .select2-choice {
  height: 28px;
  line-height: 28px;
}
.spinner {
  height: 16px;
  width: 16px;
  background-image: url(../img/select2/select2-spinner.gif);
}
table.dataTable thead > tr > th {
  padding-left: 5px;
  padding-right: 20px;
}
div.dataTables_filter.form-group {
  margin-bottom: 0;
}
div.dataTables_filter input {
  width: 100%;
  margin: 0;
}
.dataTables_empty {
  text-align: center;
}
.table-striped > tbody > tr > td,
.table-striped > tbody > tr > th {
  background-color: #fff;
}
table.dataTable {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
table.dataTable td {
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}
div.dataTables_info {
  padding: 0 0 5px 0;
}
#tblRunsMy.table > thead > tr > td,
#tblRuns.table > thead > tr > td,
#tblRunsMy.table > tbody > tr > td,
#tblRuns.table > tbody > tr > td,
#tblRunsMy.table > tfoot > tr > td,
#tblRuns.table > tfoot > tr > td {
  padding-top: 1px;
  padding-bottom: 2px;
}
.glyphicon.glyphicon-btn {
  cursor: pointer;
}
.glyphicon.glyphicon-btn:hover {
  color: #e44c16;
}
.nav-tabs.nav-tabs-sm > li > a {
  font-size: .865em;
  padding: 4px 6px;
}
.modal-dialog {
  margin: 150px auto 30px auto;
}
.modal-header {
  padding: 10px 20px;
}
.modal-footer {
  margin-top: 0;
  padding: 10px 20px;
}
.modal {
  overflow-y: auto;
}
.modal-details .modal-dialog {
  width: 50%;
}
.modal-create-run {
  z-index: 1050 !important;
}
.modal-create-run .modal-dialog {
  width: 80%;
  margin-top: 20px;
}
.modal-image-browser {
  z-index: 1052 !important;
}
.modal-image-browser .modal-dialog {
  margin-top: 10px;
}
.panel-body > h1:first-child,
.panel-body > h2:first-child,
.panel-body > h3:first-child,
.panel-body > h4:first-child,
.panel-body > h5 > h6:first-child {
  margin-top: 0;
}
.dl-horizontal.dl-horizontal-left dt {
  text-align: left;
}
.link {
  color: #0064A1;
  text-decoration: none;
  cursor: pointer;
}
.link:hover,
.link:focus {
  color: #E44C16;
  text-decoration: underline;
}
.plate-layout {
  border: 1px #999 solid;
  border-collapse: collapse;
  margin-top: 10px;
}
.plate-layout td {
  border: 1px #999 solid;
  padding: 1px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.plate-layout td.selected_well {
  background-color: #FBEFE3;
  border: 1px solid #333333;
}
.plate-layout td.row_col {
  background-color: #FBEFE3;
}
.plate-layout.tdw20 td {
  font-size: 11pt;
  height: 20px;
  width: 20px;
  min-width: 20px;
}
.plate-layout.tdw15 td {
  font-size: 10pt;
  height: 15px;
  width: 15px;
  min-width: 15px;
}
.plate-layout.tdw10 td {
  font-size: 7pt;
  height: 10px;
  width: 10px;
  min-width: 10px;
}
.plate-layout.tdw7 td {
  font-size: 5pt;
  height: 7px;
  width: 7px;
  min-width: 7px;
}
.plate-layout.tdw5 td {
  font-size: 4pt;
  height: 5px;
  width: 5px;
  min-width: 5px;
}
.plate-image-layout td {
  padding: 0 !important;
}
.plate-image-layout.S .pwithimg {
  width: 60px;
  height: 60px;
}
.plate-image-layout.S .pwithimg img {
  width: 60px;
  height: 60px;
}
.plate-image-layout.M .pwithimg img {
  width: 180px;
  height: 180px;
}
.plate-image-layout.M .pwithimg img img {
  width: 180px;
  height: 180px;
}
.plate-image-layout.L .pwithimg img {
  width: 500px;
  height: 500px;
}
.plate-image-layout.L .pwithimg img img {
  width: 500px;
  height: 500px;
}
.plate-image-layout .pwithimg {
  font-size: 0;
}
.table-simple > tbody > tr > td {
  border: 1px #999 solid;
  padding: 2px;
  font-size: 11px;
}
.well-image-layout.S img {
  max-width: 60px;
  max-height: 60px;
}
.well-image-layout.M img {
  max-width: 180px;
  max-height: 180px;
}
.well-image-layout.L img {
  max-width: 500px;
  max-height: 500px;
}
td.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis !important;
  overflow: hidden  !important;
  white-space: nowrap  !important;
  word-wrap: normal !important;
}
.table.table-no-body {
  margin: 0 !important;
}
.table.table-no-body tbody {
  display: none;
}
.table.table-no-body thead th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 0 none;
}
.table-group-header {
  background-color: #CECECE;
  padding: 5px;
  cursor: pointer;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}
.table-group-header .glyphicon {
  color: #923222;
}
.table-group-header.collapsed .glyphicon-chevron-down:before {
  content: "\e080";
}
.table-group-header:hover .glyphicon {
  color: #E44C16;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 1px;
}
div.DTS div.DTS_Loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 20px;
  margin-top: -20px;
  margin-left: -100px;
  z-index: 1;
  border: 1px solid #999;
  padding: 20px 0;
  text-align: center;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.5);
}
div.DTS div.dataTables_scrollHead,
div.DTS div.dataTables_scrollFoot {
  background-color: white;
}
div.DTS div.dataTables_scrollBody {
  z-index: 2;
}
div.DTS_Loading {
  border: 0px !important;
}
.dataTables_processing {
  font-size: 13px  !important;
}
.run-status-submit {
  background-color: #ffee99 !important;
}
.run-status-error {
  background-color: #e57676 !important;
  color: #fff;
}
.run-status-completed {
  background-color: #afdbaf !important;
}
.run-status-validating {
  background-color: #ffc7a1 !important;
}
.run-status-warning {
  background-color: #999 !important;
}
.run-status-timeout {
  background-color: #EC8026 !important;
}
.input-group-btn > .btn {
  padding: 4px 6px 5px 6px;
}
.progress {
  margin: 3px 0;
}
.checkbox.checkbox-vertical {
  margin: 0;
}
.fixWidthField {
  overflow: auto;
  white-space: pre;
  /* CSS 2.0 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3.0 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  white-space: -moz-pre-wrap;
  /* Mozilla */
  white-space: -hp-pre-wrap;
  /* HP Printers */
  word-wrap: break-word;
  /* IE 5+ */
}
.js-create-run {
  overflow-x: hidden;
}
nav ul > li.selected > a {
  font-weight: bold;
  text-transform: uppercase;
}
.fix-col {
  table-layout: fixed;
}
#tblRunsMy_wrapper .dataTables_scrollHead,
#tblRuns_wrapper .dataTables_scrollHead {
  margin: 0 !important;
  display: none;
}
#tblRunsMy_wrapper .dataTables_scrollBody,
#tblRuns_wrapper .dataTables_scrollBody {
  overflow-y: scroll !important;
}
div.error {
  background-image: url("../images/error-inline-new.png");
  background-position: 0 2px;
  background-repeat: no-repeat;
  color: #b91e24;
  margin-top: 3px;
  padding-left: 14px;
  font-size: .865em;
}
div.warning {
  color: #EC8026;
  margin-top: 3px;
  background-image: url('../images/warning-inline.png');
  background-repeat: no-repeat;
  background-position: 0px 2px;
  padding-left: 14px;
  font-size: .865em;
}
/* custom upload elements */
.customfile {
  width: 100%;
  border: 1px solid #ccc;
  cursor: pointer;
  overflow: hidden;
  padding: 2px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
}
.customfile fieldset {
  padding: .6em 0;
  border: 0;
  border-top: 1px dotted #ccc;
}
.customfile legend {
  color: #555;
  padding: .5em 1em .5em 0;
  background: #fff;
}
.customfile label {
  display: block;
  margin: .5em 10px .5em 0;
}
.customfile .customfile-button {
  font-size: 11px;
  float: right;
  width: 60px;
  text-decoration: none;
  padding: 5px 5px 4px 5px;
  margin: 0;
  white-space: nowrap;
  color: #000;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e3e3e3;
  background-image: -moz-linear-gradient(top, #ffffff, #e3e3e3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e3e3e3));
  background-image: -webkit-linear-gradient(top, #ffffff, #e3e3e3);
  background-image: -o-linear-gradient(top, #ffffff, #e3e3e3);
  background-image: linear-gradient(to bottom, #ffffff, #e3e3e3);
  background-repeat: repeat-x;
  border: 1px solid #999;
  *border: 0;
  border-color: #e3e3e3 #e3e3e3 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 0.154em;
  -moz-border-radius: 0.154em;
  border-radius: 0.154em;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#e3e3', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.customfile.customfile-hover .customfile-button {
  border-color: #ec8026;
}
.customfile.customfile-focus .customfile-button {
  outline: 1px dotted #ccc;
}
.customfile.disabled {
  cursor: not-allowed;
  background-color: #eee;
}
.customfile.disabled .customfile-button {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  color: #999;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.customfile.disabled .customfile-feedback {
  color: #999;
}
.customfile-input {
  position: absolute;
  height: 100px;
  margin-top: -5px;
  cursor: pointer;
  background: transparent;
  border: 0;
  opacity: 0;
  -moz-opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  z-index: 1999;
}
.customfile-disabled {
  opacity: .5;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  cursor: default;
}
.customfile-feedback {
  display: block;
  margin: 3px 62px 0 12px;
  color: #000;
  font-style: italic;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.customfile-feedback-populated {
  color: #000;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select.form-control {
    padding-right: 30px;
    background: url("http://nebulacdn.na.novartis.net/images/sig_dropdown_arrow.png") right center no-repeat;
  }
}
.sig-preview-card {
  border: 1px solid #999;
  padding: 15px;
}
.tooltip-inner {
  word-wrap: break-word;
}
.bootbox-body {
  word-wrap: break-word;
}
.js-links-holder {
  display: none;
}
.download-popup-menu {
  display: none;
  position: absolute;
  z-index: 100;
  background-color: white;
  border: 1px solid #999;
  padding: 5px;
}
.fix-tr-height {
  height: 18px;
}
.fix-tr-height td {
  overflow: hidden;
  height: 18px;
}

